<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magnus Chase – Die Götter von Asgard</title>
</head>
<body>

<header class="header">
  <nav class="nav-container">
    <div class="header-title">Harleen SINGH</div>
    <div class="nav-buttons">
      <a routerLink="/" routerLinkActive="active">Startseite</a>
      <a routerLink="/aboutMeSINGH" routerLinkActive="active">Über mich</a>
      <a routerLink="/page-my-travels-singh" routerLinkActive="active">Meine Reisen</a>
      <a routerLink="/page-my-dream-travels-singh" routerLinkActive="active">Meine Reiseziele</a>
      <a routerLink="/page-my-favourite-book-singh" routerLinkActive="active-button">Mein Lieblingsbuch</a>
    </div>
  </nav>
</header>

<div class="photo-container">
  <img src="assets-SINGH/Hintergrund.png" alt="Hintergrund" class="background-image">
</div>

<section class="book-container">
  <div class="book-info">
    <h1>Magnus Chase – Die Götter von Asgard</h1>
    <p>
      "Magnus Chase" ist eine aufregende Fantasy-Buchreihe von Rick Riordan. Sie erzählt die Geschichte von Magnus,
      einem obdachlosen Jungen, der herausfindet, dass er der Sohn eines nordischen Gottes ist.
      Mit seinem sprechenden Schwert Jack und seinen Freunden Sam, Blitz und Hearth begibt er sich auf
      gefährliche Abenteuer, um Ragnarök zu verhindern.
    </p>
    <div class="magnus-container">
      <img src="assets-SINGH/MagnusChase.png" alt="Magnus Chase" class="magnuschase-image">
    </div>
  </div>
</section>

<div class="books-container">
  <img src="assets-SINGH/Books.png" alt="Bücher" class="books-image">
</div>

<footer class="footer">
  <div class="footer-contact">
    <p>📧 <a href="mailto:210279@htl-donaustadt.at">210279&#64;htl-donaustadt.at</a></p>
    <p>📍 <a href="https://www.google.com/maps?um=1&ie=UTF-8&fb=1&gl=at&sa=X&geocode=Kemiss0qAW1HMaItcRwL4-i1&daddr=Donaustadtstra%C3%9Fe+45,+1220+Wien" target="_blank">Donaustadtstraße 45, 1220 Wien</a></p>
    <p>📞 +43 660 1234567</p>
    <p>🏫 <a href="https://www.htl-donaustadt.at/home" target="_blank">HTL Donaustadt</a>, 4AHITN</p>
  </div>
  <div class="footer-content">
    <p class="name">Harleen SINGH</p>
    <p class="copyright">&copy; 2025</p>
  </div>
</footer>

</body>
</html>
