<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magnus Chase – Die Götter von Asgard</title>
</head>
<body>

<header class="header">
  <nav class="nav-container">
    <div class="header-title">Harleen SINGH</div>
    <nav class="nav-buttons">
      <a routerLink="/" routerLinkActive="active">Startseite</a>
      <a routerLink="/aboutMeSINGH" routerLinkActive="active">Über mich</a>
      <a routerLink="/page-my-travels-singh" routerLinkActive="active">Meine Reisen</a>
      <a routerLink="/page-my-dream-travels-singh" routerLinkActive="active">Meine Reiseziele</a>
      <a routerLink="/page-my-favourite-book-singh" routerLinkActive="active-button">Mein Lieblingsbuch</a>
    </nav>
  </nav>
</header>

<div class="photo-container">
  <img src="assets-SINGH/Hintergrund.png" alt="Hintergrund" class="background-image">
</div>
<div class="book-container">
  <div class="book-info">
    <h1>Magnus Chase – Die Götter von Asgard</h1>
    <p>
      "Magnus Chase" ist eine aufregende Fantasy-Buchreihe von Rick Riordan. Sie erzählt die Geschichte von Magnus,
      einem obdachlosen Jungen, der herausfindet, dass er der Sohn eines nordischen Gottes ist.
      Mit seinem sprechenden Schwert Jack und seinen Freunden Sam, Blitz und Hearth begibt er sich auf
      gefährliche Abenteuer, um Ragnarök zu verhindern.
    </p>
    <div class="magnus-container">
      <img src="assets-SINGH/MagnusChase.png" alt="MagnusChase" class="magnuschase-image">
    </div>
  </div>
</div>
<div class="books-container">
  <img src="assets-SINGH/Books.png" alt="Buecher" class="books-image">
</div>
</body>
</html>
