/* Sticky Header */
header {
  position: sticky;
  top: 0;
  background-color: #303030;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.8em;
  font-weight: bold;
  z-index: 1000;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .insta-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }
  }
}

/* Einleitungstext unter "Meine Werke" */
.intro-text {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Galerie */
.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.larger-img {
  transform: scale(1.1);
}

.image-title {
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

/* Raw Sketches */
.raw-sketches {
  background-color: black;
  padding: 50px 0;
  margin-top: 50px;
  text-align: center;

  h2 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
  }

  .intro-text {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .sketch-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .image-title2 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    text-align: center;
  }
}

/* Footer */
footer {
  background-color: #303030;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;

  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
