.container {
  max-width: 1200px;
  margin: 2rem auto;
}

.destination-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
}
/* Allgemeine Header-Stile */
header {
  background-color: #1e3a5f;  /* Dunkles Pastellblau für den Header-Hintergrund */
  color: #fff;  /* Weißer Text */
  padding: 20px 0;  /* Abstand oben und unten */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sanfter Schatten für den Header */
}

/* Container für den Header-Inhalt */
.header-container {
  max-width: 100%;
  padding: 0 20px;  /* Padding für den Inhalt */
  display: flex;
  align-items: center;  /* Vertikale Zentrierung */
  justify-content: flex-start;  /* Links ausgerichtet */
}

/* Titel im Header */
.header-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  color: #fff;
}
.destination-info {
  text-align: center;
}

.destination-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.destination-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.destination-images {
  display: flex;
  flex-wrap: wrap; /* Bilder können umgebrochen werden, wenn nötig */
  justify-content: center; /* Verteile die Bilder gleichmäßig */
  gap: 1rem; /* Abstand zwischen den Bildern */
}

.destination-image {
  width: 80px;  /* Feste, kleine Breite */
  height: 80px; /* Feste, kleine Höhe */
  object-fit: cover; /* Sorgt dafür, dass das Bild den Container ausfüllt */
  border-radius: 5px;
}

/* Wenn der Bildschirm größer als 768px ist, für Tablets und größere Geräte */
@media (min-width: 768px) {
  .destination-images {
    justify-content: center; /* Mehr Abstand, falls gewünscht */
  }

  .destination-image {
    width: 100px;  /* Etwas größere Bilder */
    height: 100px;
  }
}

/* Wenn der Bildschirm größer als 1024px ist (Desktops) */
@media (min-width: 1024px) {
  .destination-images {
    justify-content: center; /* Drei Bilder nebeneinander */
  }

  .destination-image {
    width: 300px;  /* Noch größere Bilder auf größeren Bildschirmen */
    height: 300px;
  }
}
