<app-header-krapf></app-header-krapf>
<div class="anchor">
  <h1>Meine Reiseziele!</h1><br>
  <h2>Paris, Frankreich</h2>
  <div class="container text parallel">
    <img class="image" src="/assets-KRAPF/FrankreichParis.png">
    <div>
      <div class="top">
        <img class="flagge" src="/assets-KRAPF/FrankreichFlagge.png">
      </div>
      <div class="content">
        <hr>
        <div class="even">
          <p><strong>Kontinent:</strong></p>
          <p>Europa</p>
        </div>
        <hr>
        <div class="even">
          <p><strong>Zeitpunkt:</strong></p>
          <p>Unbestimmt</p>
        </div>
        <hr>
        <div>
          <p>Paris ist eine wunderschöne Stadt. Besonders der Eiffelturm ist Nachts atemberaubend. <br> Ich möchte
            dieses
            Ansicht erleben, und nebenbei auch mein Französich üben. </p>
        </div>
      </div>
    </div>
  </div>
  <h2>Zypern</h2>
  <div class="container text parallel">
    <img class="image" src="/assets-KRAPF/Zypern.png">
    <div>
      <div class="top">
        <img class="flagge" src="/assets-KRAPF/ZypernFlagge.png">
      </div>
      <div class="content">
        <hr>
        <div class="even">
          <p><strong>Kontinent:</strong></p>
          <p>Asien / Europa</p>
        </div>
        <hr>
        <div class="even">
          <p><strong>Zeitpunkt:</strong></p>
          <p>Mai 2025</p>
        </div>
        <hr>
        <div>
          <p>Ein kleines aber schönes Land. <br>Ich fliege im Mai als Geschäftsreise nach Zypern.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Chongqing, China</h2>
  <div class="container text parallel">
    <img class="image" src="/assets-KRAPF/ChinaChongqing.png">
    <div>
      <div class="top">
        <img class="flagge" src="/assets-KRAPF/ChinaFlagge.png">
      </div>
      <div class="content">
        <hr>
        <div class="even">
          <p><strong>Kontinent:</strong></p>
          <p>Asien</p>
        </div>
        <hr>
        <div class="even">
          <p><strong>Zeitpunkt:</strong></p>
          <p>Unbestimmt</p>
        </div>
        <hr>
        <div>
          <p>Chongqing ist eines der größten und schönsten Städte auf der Welt.<br> Ich liebe chinesische Kultur und
            wünsche
            mir daher nach China zu reisen. </p>
        </div>
      </div>
    </div>
  </div>
  <h2>New York, USA</h2>
  <div class="container text parallel">
    <img class="image" src="/assets-KRAPF/USANewYork.png">
    <div>
      <div class="top">
        <img class="flagge" src="/assets-KRAPF/USAFlagge.png">
      </div>
      <div class="content">
        <hr>
        <div class="even">
          <p><strong>Kontinent:</strong></p>
          <p>Nordamerika</p>
        </div>
        <hr>
        <div class="even">
          <p><strong>Zeitpunkt:</strong></p>
          <p>Unbestimmt</p>
        </div>
        <hr>
        <div>
          <p>Zu New York muss nicht viel gesagt werden. Man muss einfach mal dort gewesen sein. <br> Die USA hat vieles
            interessantes zu beiten. Anfangen würde ich gerne mit New York.</p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/aboutMeKrapf" routerLinkActive="active" class="btn">Zurück</a>
</div>
<app-footer-krapf></app-footer-krapf>
