<div class="anchor">
  <h1>Meine Reiseziele!</h1><br>
  <div class="container textSize textFont centered">
    <h2>Paris, Frankreich</h2>
    <img class="flagge" src="/assets-KRAPF/FrankreichFlagge.png">
    <img class="image" src="/assets-KRAPF/FrankreichParis.png">
    <p>Kontinent: Europa</p>
    <p>Zeitpunkt: Unbestimmt</p>
    <p>Paris ist eine wunderschöne Stadt. Besonders der Eiffelturm ist Nachts atemberaubend. <br> Ich möchte dieses Ansicht erleben, und nebenbei auch mein Französich üben. </p>
  </div>
  <div class="container textSize textFont centered">
    <h2>Zypern</h2>
    <img class="flagge" src="/assets-KRAPF/ZypernFlagge.png">
    <img class="image" src="/assets-KRAPF/Zypern.png">
    <p>Kontinent: Asien / Europa</p>
    <p>Zeitpunkt: Mai 2025</p>
    <p>Ein kleines aber schönes Land. <br>Ich fliege im Mai als Geschäftsreise nach Zypern.</p>
  </div>
  <div class="container textSize textFont centered">
    <h2>Chongqing, China</h2>
    <img class="flagge" src="/assets-KRAPF/ChinaFlagge.png">
    <img class="image" src="/assets-KRAPF/ChinaChongqing.png">
    <p>Kontinent: Asien</p>
    <p>Zeitpunk: Unbestimmt</p>
    <p>Chongqing ist eines der größten und schönsten Städte auf der Welt.<br> Ich liebe chinesische Kultur und wünsche mir daher nach China zu reisen. </p>
  </div>
  <div class="container textSize textFont centered">
    <h2>New York, USA</h2>
    <img class="flagge" src="/assets-KRAPF/USAFlagge.png">
    <img class="image" src="/assets-KRAPF/USANewYork.png">
    <p>Kontinent: Nordamerika</p>
    <p>Zeitpunkt: Unbestimmt</p>
    <p>Zu New York muss nicht viel gesagt werden. Man muss einfach mal dort gewesen sein. <br> Die USA hat vieles interessantes zu beiten. Anfangen würde ich gerne mit New York.</p>
  </div>

  <a routerLink="/aboutMeKrapf" routerLinkActive="active" class="btn">Zurück</a>
</div>
