<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museen Übersicht</title>
  <link rel="stylesheet" href="museen.component.scss">
</head>
<body>

<header>
  <h1>Meine Lieblingsmuseen
    <a href="https://www.instagram.com/soishiki.art" target="_blank">
      <img src="assets-ALJARRAH/insta.png" alt="Instagram" class="insta-icon">
    </a>
  </h1>
</header>

<div class="container">
  <h1>Entdecke die schönsten Museen</h1>

  <p class="intro-text">
    Als Künstler wünsche ich mir, diese Museen in meinem Leben zu besuchen, da sie die schönsten Werke von Genies und meinen Lieblingskünstlern wie Dalí, Michelangelo, Raphael, Araki und Da Vinci beherbergen.
  </p>

  <div class="museum-list">
    <div class="museum">
      <img src="assets-ALJARRAH/kapelle.png" alt="Museum 1">
      <h2>Die Sixtinische Kapelle im Vatikanstaat</h2>
      <div class="artworks">
        <img src="assets-ALJARRAH/adam.png" alt="Gemälde 1">
        <img src="assets-ALJARRAH/gericht.png" alt="Gemälde 2">
        <img src="assets-ALJARRAH/sonne.png" alt="Gemälde 3">
      </div>
    </div>
    <div class="museum">
      <img src="assets-ALJARRAH/daliMuseum.png" alt="Museum 2">
      <h2>Dali Theatre-Museum in Spanien</h2>
      <div class="artworks">
        <img src="assets-ALJARRAH/galaFenster.png" alt="Gemälde 1">
        <img src="assets-ALJARRAH/face.png" alt="Gemälde 2">
        <img src="assets-ALJARRAH/leda.png" alt="Gemälde 3">
      </div>
    </div>
    <div class="museum">
      <img src="assets-ALJARRAH/louvre.png" alt="Museum 3">
      <h2>Das Louvre in Frankreich</h2>
      <div class="artworks">
        <img src="assets-ALJARRAH/jojo.png" alt="Gemälde 1">
        <img src="assets-ALJARRAH/lisa.png" alt="Gemälde 2">
        <img src="assets-ALJARRAH/raffi.png" alt="Gemälde 3">
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>&copy; 2024 by Soishiki.art | Kontakt: <a href="mailto:soishiki.art@gmail.com">Kunstanfragen und Businessanfragen</a></p>

</footer>

</body>
</html>



