<a routerLink="/aboutMeIBISEVIC" routerLinkActive="active" class="btn btn-primary custom-btn"  style="margin-right: 10px">Back</a>
<a routerLink="/home" routerLinkActive="active" class="btn btn-primary custom-btn"  style="margin-right: 10px">Home</a>
<div class="anchor text">
  <i><h1>Meine Reisen!</h1><br></i>
  <h2>| Bosnien |</h2>
  <div class="container text">
    <img class="image" src="/assets-IBISEVIC/Bosnienflagge.jpg">
    <div class="parallel">
      <div class="content">
        <p>Ich habe selten ein anderes Land besucht als Bosnien, da sich dort meine gesamte Familie befindet. Es ist ein guter Weg, Ferien in einem Land, dass mir vertraut ist, zu verbringen und zugleich meine Familie zu unterstützen.</p>
      </div>
    </div>
  </div>
  <h2>Vogosca</h2>
  <div class="container text">
    <img class="image" src="/assets-IBISEVIC/Vogosca.jpg">
    <div class="parallel">
      <div class="content">
        <p>Gegen 20 Mal besucht und wurde dort geboren</p>
        <p>Die Stadt, die ich am häufigsten besucht habe, da dort viele meiner direkten Familie lebt.</p>
      </div>
    </div>
  </div>
  <h2>Prijedor</h2>
  <div class="container text">
    <img class="image" src="/assets-IBISEVIC/Prijedor.jpg">
    <div class="parallel">
      <div class="content">
        <p>Auch so gegen 20 Mal besucht oder sowas</p>
        <p>Dort habe ich auch Familie und die haben es irgendwie geschafft dort einen blauen Pfau zu haben, sonst ein Bauernhof mit 1 Hektar an Land, weshalb die dort oft meine Hilfe brauchen könnten.</p>
      </div>
    </div>
  </div>
  <h2>Die bosnischen Pyramieden</h2>
  <div class="container text">
    <img class="image" src="/assets-IBISEVIC/Pyramieden.jpg">
    <div class="parallel">
      <div class="content">
        <p>Zwei Mal besucht</p>
        <p>Die bosnischen Pyramieden sind ein sehr einzigartiger Ort und trägt viel zur Kultur der Einwohner des Ortes bei.</p>
      </div>
    </div>

  </div>
  <footer class="footer">
    <h1>Ibisevic Benjamin</h1><br>
  </footer>
</div>
