
<div class="überschrift">Meine Reisen</div>
<a href="meineReisenIBISEVIC#bosnien"><div class="pin bosnien"></div></a>
<br>
<div class="container">
  <div class="card" style="width: 30rem;" id="bosnien">
    <img class="flagge" src="/assets-IBISEVIC/Bosnienflagge.jpg">
    <div class="card-body">
      <h4>Bosnien</h4>
      <p class="card-text">Bosnien und Herzegowina hat eine reiche Geschichte, geprägt vom Osmanischen und Habsburger Reich. Die Hauptstadt ist Sarajevo. Das Land ist bekannt für seine Berge, Flüsse, Pyramiden, einem Urwald und multikulturelle Traditionen. </p>
    </div>
  </div><br>
YY


  <a routerLink="/aboutMeIBISEVIC" routerLinkActive="active" class="btn btn-primary">Zurück</a>
</div><br>

