<div class="anchor">
  <h1>Meine Hobbies!</h1><br>
  <h2>Fußball</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/Fußball.png">
    <div style="padding: 0 3rem 1rem 3rem">
      <hr>
      <div class="content">
        <p><strong>Kategorie:</strong></p>
        <p>Sport</p>
      </div>
      <hr>
      <div class="content">
        <p><strong>Seit:</strong></p>
        <p>Kindheit</p>
      </div>
      <hr>
      <p>Fußball spiele ich schon seit meiner Kindheit. <br>Aber Interesse in die Fußballwelt habe ich erst seit einem
        Jahr</p>
    </div>
  </div>
  <h2>Volleyball</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/Volleyball.png">
    <div style="padding: 0 3rem 1rem 3rem">
      <hr>
      <div class="content">
        <p><strong>Kategorie:</strong></p>
        <p>Sport</p>
      </div>
      <hr>
      <div class="content">
        <p><strong>Seit:</strong></p>
        <p>2022</p>
      </div>
      <hr>
      <p>Ich habe mit Volleyball in der HTL angefangen. <br> Es hat echt spaß gemacht, aber mein Interesse darin verfällt
      langsam.</p>
    </div>
  </div>
  <h2>BJJ</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/BJJ.png">
    <div style="padding: 0 3rem 1rem 3rem">
      <hr>
      <div class="content">
        <p><strong>Kategorie:</strong></p>
        <p>Sport</p>
      </div>
      <hr>
      <div class="content">
        <p><strong>Seit:</strong></p>
        <p>2024</p>
      </div>
      <hr>
      <p>Brasilianisches Jiu-Jiustu ist eine Art des Bodenkampfes. <br> Urprünglich hatte ich mehr Interesse in Thaiboxen,
      aber BJJ hat mir schlussendlich viel mehr Spaß gemacht.</p>
    </div>
  </div>
  <h2>Programmieren</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/Programmieren.png">
    <div style="padding: 0 3rem 1rem 3rem">
      <hr>
      <div class="content">
        <p><strong>Kategorie:</strong></p>
        <p>Kreativität</p>
      </div>
      <hr>
      <div class="content">
        <p><strong>Seit:</strong></p>
        <p>2021</p>
      </div>
      <hr>
      <p>Programmieren ist ein sehr logischer Bereich, der mir persöhnlich eine menge Freude bereitet. <br> Hängt
        natürlich auch davon ab, an was gearbeitet wird.</p>
    </div>
  </div>
  <h2>Lernen</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/Lernen.png">
    <div style="padding: 0 3rem 1rem 3rem">
      <hr>
      <div class="content">
        <p><strong>Kategorie:</strong></p>
        <p>Kreativität</p>
      </div>
      <hr>
      <div class="content">
        <p><strong>Seit:</strong></p>
        <p>Immer</p>
      </div>
      <hr>
      <p>Ich war schon immer sehr neugierig. Wenn mich etwas interessiert,<br> kann ich mich lange damit beschäftigen und
        dabei viel lernen.</p>
    </div>
  </div>
  <a routerLink="/aboutMeKrapf" routerLinkActive="active" class="btn">Zurück</a>
</div>
