<div class="anchor">
  <h1>Meine Hobbies!</h1><br>
  <div class="container textSize textFont centered">
    <h2>Fußball</h2>
    <img class="image" src="/assets-KRAPF/Fußball.png">
    <p>Kategorie: Sport</p>
    <p>Seit: Kindheit</p>
    <p>Fußball spiele ich schon seit meiner Kindheit. <br>Aber Interesse in die Fußballwelt habe ich erst seit einem Jahr</div>
  <div class="container textSize textFont centered">
    <h2>Volleyball</h2>
    <img class="image" src="/assets-KRAPF/Volleyball.png">
    <p>Kategorie: Sport</p>
    <p>Seit: 2022</p>
    <p>Ich habe mit Volleyball in der HTL angefangen. <br> Es hat echt spaß gemacht, aber mein Interesse darin verfällt langsam.</p>
  </div>
  <div class="container textSize textFont centered">
    <h2>BJJ</h2>
    <img class="image" src="/assets-KRAPF/BJJ.png">
    <p>Kategorie: Sport</p>
    <p>Seit: 2024</p>
    <p>Brasilianisches Jiu-Jiustu ist eine Art des Bodenkampfes. <br> Urprünglich hatte ich mehr Interesse in Thaiboxen, aber BJJ hat mir schlussendlich viel mehr Spaß gemacht.</div>
  <div class="container textSize textFont centered">
    <h2>Programmieren</h2>
    <img class="image" src="/assets-KRAPF/Programmieren.png">
    <p>Kategorie: Kreativität</p>
    <p>Seit: 2021</p>
    <p>Programmieren ist ein sehr logischer Bereich, der mir persöhnlich eine menge Freude bereitet. <br> Hängt natürlich auch davon ab, an was gearbeitet wird. </p>
  </div>
  <div class="container textSize textFont centered">
    <h2>Lernen</h2>
    <img class="image" src="/assets-KRAPF/Lernen.png">
    <p>Kategorie: Kreativität</p>
    <p>Seit: Immer</p>
    <p>Ich war schon immer sehr neugierig. Wenn mich etwas interessiert,<br> kann ich mich lange damit beschäftigen und dabei viel lernen.</p>
  </div>

  <a routerLink="/aboutMeKrapf" routerLinkActive="active" class="btn">Zurück</a>
</div>
