<div class="anchor text">
  <h1>Meine Reisen!</h1><br>
  <h2>Accra, Ghana</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/GhanaAccra.png">
    <div class="parallel">
      <img class="flagge" src="/assets-KRAPF/GhanaFlagge.png">
      <div class="content">
      <p>Zeitpunkte: 2010 & 2019</p>
      <p>Meine Famillie besuchte unsere Verwandten zurück in der Heimat.</p>
      </div>
    </div>
  </div>
  <h2>Manchester, England</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/EnglandManchester.png">
    <div class="parallel">
      <img class="flagge" src="/assets-KRAPF/EnglandFlagge.png">
      <div class="content">
        <p>Zeitpunkt: 2015</p>
        <p>Meine Famillie besuchte meine Tante und ihre Famillie in Manchester.</p>
      </div>
    </div>
  </div>
  <h2>Valencia, Spanien</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/SpanienValencia.png">
    <div class="parallel">
      <img class="flagge" src="/assets-KRAPF/SpanienFlagge.png">
      <div class="content">
        <p>Zeitpunkte: Mehrmals</p>
        <p>Meine Famillie besuchte enge Freunde in ihrem Ferienhaus in Valencia.</p>
      </div>
    </div>
  </div>
  <h2>Stuttgart, Deutschland</h2>
  <div class="container text">
    <img class="image" src="/assets-KRAPF/DeutschlandStuttgart.png">
    <div class="parallel">
      <img class="flagge" src="/assets-KRAPF/DeutschlandFlagge.png">
      <div class="content">
        <p>Zeitpunkte: Merhmals</p>
        <p>Meine Famillie besuchte Famillienfreunde in ihrer Heimat Stuttgart.</p>
      </div>
    </div>
  </div>
  <a routerLink="/aboutMeKrapf" routerLinkActive="active" class="btn">Zurück</a>
</div>
