<app-navbar-schoeffmann></app-navbar-schoeffmann>

<div class="container mt-5 mb-5">
  <h1 class="text-center">E-Fahrzeug</h1>
  <div class="text-center">
  <p class="bg-warning text-white d-inline-block px-2 py-1 rounded-1">in Bearbeitung</p>
  </div>

  <div class="row mt-4 mb-4 justify-content-center">

    <div class="col-md-4">
      <img [src]="lifepoakkuimg" class="card-img-top rounded-3" alt="Projekt 3">
    </div>
    <div class="col-md-4">
      <img [src]="kettcarimg" class="card-img-top rounded-3" alt="Projekt 3">
    </div>

  </div>

  <div class="row mt-4 mb-4 pb-3 justify-content-center">
    <div class="col-md-8">
      <div><h5>Eckdaten (geplant):</h5>
        Leistung: 3kW (4PS)<br>
        Gewicht: 100kg<br>
        Akkukapazität: 7kWh<br>
        von 0 auf 100km/h in &nbsp;
        <div class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        s
      </div>
      <div class="mt-5 progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%"></div>
      </div>
      <!--<a routerLink="/pages-schoeffmann-projekte" routerLinkActive="active">Zurück</a>-->
    </div>
  </div>

</div>

<app-footer></app-footer>
