
{{ me.firstname }} {{ me.surname.toLocaleUpperCase() }}
<br/>
<b>E-Mail-Adresse: </b> <a href="mailto:210270@studiernde.htl-donaustadt.at">{{ me.email }}</a><br>
<b>Github Account: </b> <a href="https://github.com/sxlyyy">{{ me.github_nickname }}</a><br>
<img src="{{me.urlImage}}">
<br/>
<p>{{ me.birthday | date:'dd.MM.yyyy' }}</p>
<b>Abteilung:</b> {{ me.department }}<br>

<b>Wohnort: </b> {{ me.zip_code }} {{ me.city }}<br>
<i>{{ me.message }}</i><br>

<a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Startseite</a>
