<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Zukunft</title>
</head>


<body>
<div class="container">
  <h1 style="text-align: center; margin-bottom: 20px">Meine Zukunft</h1>
  <h1 style="text-align: center">Mein Werdegang</h1>
  <div class="school-grid">
    <div class="school-item">
      <img [src]="MengergasseIMG"  alt="Mengergasse" class="school-img">
      <h2>Mengergasse</h2>
      <p><em style="margin: 5px">{{Mengergasse}}</em></p>
    </div>

    <div class="school-item">
      <img [src]="F26IMG"  alt="Franklinstraße 26" class="school-img">
      <h2>Franklinstraße 26</h2>
      <p><em style="margin: 5px">{{F26}}</em></p>
    </div>

    <div class="school-item">
      <img [src]="HTLIMG"  alt="HTL Donaustadt" class="school-img">
      <h2>HTL Donaustadt</h2>
      <p><em style="margin: 5px">{{HTL}}</em></p>
    </div>
  </div>

  <h2 style=" text-align: center; padding: 30px 0px 0px 15px">Meine Ziele</h2>
  <ul>
    <li>
      <h6><strong>Akademische Ziele:</strong></h6>
      <ul>
        <li>Schulabschluss</li>
        <li>Vertiefung von Fachwissen</li>
        <li>Positiv Maturieren</li>
        <li>Weiterbildung in IT und Technologie</li>
      </ul>
    </li>

    <li>
      <h6><strong>Persönliche Entwicklungsziele:</strong></h6>
      <ul>
        <li>Bessere Zeitorganisation und effiziente Aufgabenbewältigung</li>
        <li>Entwicklung von Führungsfähigkeiten</li>
        <li>Bessere Teamarbeit und Zusammenarbeit fördern</li>
        <li>Sprachkenntnisse verbessern</li>
      </ul>
    </li>

    <li>
      <h6><strong>Karriereorientierte Ziele:</strong></h6>
      <ul>
        <li>Nach der Matura eine gute Arbeit finden</li>
        <li>Führerschein absolvieren</li>
      </ul>
    </li>

    <li>
      <h6><strong>Soziale und ethische Ziele:</strong></h6>
      <ul>
        <li>Gesundheit und Fitness pflegen</li>
      </ul>
    </li>
  </ul>


  <p style="text-align: center; padding-top: 40px;"><strong>© by Oliver SENJIĆ</strong></p>

</div>
</body>
</html>
