$primary: burlywood;

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: $primary;
  padding: 2rem;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f3f2f2;
  border-radius: 20px;
}

