<header class="header">
  <a href="https://www.instagram.com/oliver.597_">
    <img src= "assets-SENJIC/insta.png" alt="Instagram" class="header-icon">
  </a>
  <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">
    <img src= "assets-SENJIC/youtube.png" alt="youtube" class="header-icon" >
  </a>
  <a href="mailto:210278@studierende.htl-donaustadt.at">
    <img src= "assets-SENJIC/email.png" alt="youtube" class="header-icon" >
  </a>
  <a href="https://github.com/oliver5977">
    <img src= "assets-SENJIC/github.png" alt="youtube" class="header-icon" >
  </a>
  <div class="button-format">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary; custom-btn">Zurück</a>
    <a routerLink="/aboutMeSENJIC" routerLinkActive="active" class="btn btn-primary; custom-btn">Über mich</a>
    <a routerLink="/myTravelsSENJIC" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Reisen</a>
    <a routerLink="/MyJerseysSENJIC" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Trikots</a>
  </div>
</header>


<main>
<div class="container">
  <h1 style="text-align: center; margin-bottom: 20px">Meine Zukunft</h1>
  <h1 style="text-align: center">Mein Werdegang</h1>
  <div class="school-grid">
    <div class="school-item">
      <img [src]="MengergasseIMG"  alt="Mengergasse" class="school-img">
      <h2>Mengergasse</h2>
      <p><em style="margin: 5px">{{Mengergasse}}</em></p>
    </div>

    <div class="school-item">
      <img [src]="F26IMG"  alt="Franklinstraße 26" class="school-img">
      <h2>Franklinstraße 26</h2>
      <p><em style="margin: 5px">{{F26}}</em></p>
    </div>

    <div class="school-item">
      <img [src]="HTLIMG"  alt="HTL Donaustadt" class="school-img">
      <h2>HTL Donaustadt</h2>
      <p><em style="margin: 5px">{{HTL}}</em></p>
    </div>
  </div>

  <h2 style=" text-align: center; padding: 20px">Meine Ziele</h2>
  <ul class="ziele-list">
    <li class="ziel-item">
      <h6><strong>Akademische Ziele:</strong></h6>
      <ul class="unterziel-list">
        <li class="unterziel-item">Schulabschluss</li>
        <li class="unterziel-item">Vertiefung von Fachwissen</li>
        <li class="unterziel-item">Positiv Maturieren</li>
        <li class="unterziel-item">Weiterbildung in IT und Technologie</li>
      </ul>
    </li>

    <li class="ziel-item">
      <h6><strong>Persönliche Entwicklungsziele:</strong></h6>
      <ul class="unterziel-list">
        <li class="unterziel-item">Bessere Zeitorganisation und effiziente Aufgabenbewältigung</li>
        <li class="unterziel-item">Entwicklung von Führungsfähigkeiten</li>
        <li class="unterziel-item">Bessere Teamarbeit und Zusammenarbeit fördern</li>
        <li class="unterziel-item">Sprachkenntnisse verbessern</li>
      </ul>
    </li>

    <li class="ziel-item">
      <h6><strong>Karriereorientierte Ziele:</strong></h6>
      <ul class="unterziel-list">
        <li class="unterziel-item">Nach der Matura eine gute Arbeit finden</li>
        <li class="unterziel-item">Führerschein absolvieren</li>
      </ul>
    </li>

    <li class="ziel-item">
      <h6><strong>Soziale und ethische Ziele:</strong></h6>
      <ul class="unterziel-list">
        <li class="unterziel-item">Gesundheit und Fitness pflegen</li>
      </ul>
    </li>
  </ul>
</div>
</main>
<footer class="footer">
  <p style="text-align: center; color: white"><strong>© by Oliver SENJIĆ</strong></p>
  <a href="/MyFutureSENJIC#top" class="scroll-top-btn">↑ Nach oben</a>
</footer>

