$primary: burlywood;
$secondary: saddlebrown;

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: $primary;
  padding: 2rem;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f3f2f2;
  border-radius: 20px;
}
.school-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.school-item {
  width: 300px;
  background-color: #fafafa;
  border: 1px;
  text-align: center;
  border-radius: 20px;
}
.school-img {
  width: 300px;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
h6{
  color: $secondary;
}
.ziele-list {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
}

.ziel-item {
  margin: 10px;
  padding: 10px;
  background-color: #f3f2f2;
  border-left: 5px solid $secondary;
  border-radius: 5px;
}

.unterziel-item {
  background-color: #f1dcc0;
  padding: 8px;
  margin: 5px;
  border-left: 4px solid $secondary;
  border-radius: 4px;
  list-style-type: none;
}

