<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Über mich</title>
  <link rel="stylesheet" href="page-about-me-aljarrah.component.scss">
</head>
<body>
<div class="container">
  <img src="assets-ALJARRAH/ueberMich.png" alt="Über mich Bild">
  <div class="text">
    <ul>
      <li><strong>Name: Alexander Al Jarrah</strong></li>
      <li><strong>Geburtsdatum: 10.05.2005</strong></li>
      <li><strong>Hobbys: Zeichnen, Lesen und Basketball spielen</strong></li>
    </ul>
    <p class="quote">Zitat: <em>„Es gibt überall Blumen für den, der sie sehen will.“</em> – Henri Matisse</p>
  </div>
</div>

<!-- Button unterhalb der Anthrazit-Box -->
<div class="button-container">
  <a href='meineWerke' class="button">Meine Werke</a>
  <a class="button">Museen</a> <!-- Neuer Knopf -->
</div>
</body>
</html>




