
.main {
  .demo {
    img {
      width: auto;
      height: 6rem;
    }
  }
  .students {
    .item {
      height: 24rem;
      width: 18rem;
      img {
        max-height: 18rem;
        min-height: 18rem;
        width: 100% !important;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}
