.demo {
  li {
    list-style: none;
    img {
      width: auto;
      height: 6rem;
    }
  }
}
.students {
  li {
    list-style: none;
    img {
      max-height: 18rem;
      width: 100% !important;
      object-fit: cover;
      object-position: top  center;
    }
  }
}
