<!DOCTYPE html>
<html lang="de">
<head>
  <title>About Daniel Stoilov</title>
  <link rel="stylesheet" href="C:\Users\Danie\WebstormProjects\4ahitn_24\src\app\pages\pages-students\page-about-me-klaric\page-about-me-klaric.component.scss">
</head>
<body>
<header style="--text-color: white; background-color: #333333">
  <h1>{{firstName}} <span class="last-name">{{lastName}}</span></h1>
  <img align="left" src="{{profileImage}}" alt="Profilbild von {{firstName}}" class="profile-image">
</header>

<div class="contact-info">
  <p><strong>Geburtsdatum:</strong> {{birthDate}}</p>
  <p><strong>Email:</strong> {{email}}</p>
  <p><strong>Wohnort:</strong> Wien, Donaustadt</p>
  <p><strong>Abteilung:</strong> IT</p>
  <p><strong>GitHub:</strong> <a href="https://github.com/Danielzis" target="_blank">{{github}}</a></p>
</div>

<div class="description">
  <p><strong>Beschreibung:</strong> Ich bin ein vielseitiger Mensch, gehe gerne mit Freunde raus, betreibe Fitness, spiele Volleyball und übe Klavier. Neben meinem Hobby liebe ich es, neue Orte zu entdecken, und strebe eine Karriere in der IT-Branche an.</p>
</div>

<div class="quote">
  <p>"Denn Gott hat die Menschen so sehr geliebt, dass er seinen einzigen Sohn für sie hergab.</p>
  <p>Jeder, der an ihn glaubt, wird nicht zugrunde gehen, sondern das ewige Leben haben." - Johannes 3:16</p>
</div>
</body>
</html>
