<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reisen</title>
</head>
<header>
  <div id ="myDiv2">
  <a routerLink="/aboutMeIBRAHIM" routerLinkActive="active" class="btn btn-success ms-2">Meine Reisen</a>
  </div>
</header>

<div id="body">
<div id="container">

  <h1 style="text-align: center; margin-bottom: 20px">Meine Reisen</h1>


    <div id="travel-item1">
      <img src="assets-IBRAHIM/IBRAHIM_AEGYPTEN.jpg" alt="Ägypten">
      <h2>Ägypten</h2>
      <p>Überall lag Schmutz auf den Straßen</p>
    </div>

    <div id="travel-item2">
      <img src="assets-IBRAHIM/IBRAHIM_KROATIEN.jpg" alt="Kroatien">
      <h2>Kroatien</h2>
      <p>Das Meer war herrlich, doch die Steine machten das Gehen schwierig</p>
    </div>
  </div>

  <p style="text-align: center; padding-top: 40px;"><strong>© by Mohamad Kosai Ibrahim</strong></p>
</div>
<footer>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/page-about-me-ibrahim" routerLinkActive="active">Über mich</a></li>
      <li><a routerLink="/page-meine-reisen" routerLinkActive="active">Meine Reisen</a></li>
    </ul>
  </nav>

</footer>
</html>
