<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Über Mich - IBISEVIC Benjamin</title>
</head>

<body>
<div class="container">
  <div class="header">
    <h1>IBISEVIC Benjamin</h1>
    <h6>Willkommen bei meiner Webseite!</h6>
    <img src=" {{me.urlImage}}" width="15%" height="15%" alt="">
  </div>

  <div class="info">
    <p><strong>Name:</strong> {{me.surname}} {{me.firstname}}</p>
    <p><strong>Geburtsdatum:</strong> {{ me.birthday | date:'dd MMMM yyyy'  }}</p>
    <p><strong>Wohnort:</strong> {{me.city}}</p>
    <p><strong>E-Mail:</strong> <a href="mailto:200326@studierende.htl-donaustadt.at">{{me?.email}}</a></p>
    <p><strong>Github: </strong> <a href="https://github.com/BenjaminIbi">{{me.github_nickname}}</a></p>
    <p><strong>Abteilung:</strong> {{me.department}}</p>
    <a routerLink="/meineReisenIBISEVIC" routerLinkActive="active" class="btn btn-primary; custom-btn">Meine Reisen</a>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary custom-btn"  style="margin-right: 10px">Back</a>

  </div>

  <div class="Zitat">
    <p>{{me.message}}</p>
  </div>
  <p style="text-align: center"><strong>© by IBISEVIC Benjamin</strong></p>
</div>
</body>

</html>
