
$primary: rgb(20, 204, 127);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss"; //use full path to bootstrap.scss

.classe {
    display: flex;
}

.meinereisen {
    margin-left: 1rem;
}