@import "../pages-MILLICH_variables";
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
}

footer {
  background-color: $primary;
  color: white;
}
