<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Trikotsammlung</title>
</head>

<body>
<h1 style="text-align: center">Meine Trikotsammlung</h1>

  <div class="league-section">
    <h2>Bundesliga</h2>
    <div class="trikot-liste">
      <div class="trikot-card">
        <img class="trikot-img" [src]="bayernA202425"  alt="bayern 2024/25">
      </div>

      <div class="trikot-card">
        <img class="trikot-img" [src]="bayernH202324"  alt="bayern 2023/24">
      </div>

      <div class="trikot-card">
        <img class="trikot-img" [src]="bayernA202122"  alt="bayern 2021/22">
      </div>
    </div>
  </div>

  <div class="league-section">
    <h2>Premier League</h2>
    <div class="trikot-liste">
      <div class="trikot-card">
        <img class="trikot-img" [src]="mancity"  alt="Manchester City">
      </div>

      <div class="trikot-card">
        <img class="trikot-img" [src]="liverpool"  alt="Liverpool">
      </div>
    </div>
  </div>

  <div class="league-section">
    <h2>Serie A</h2>
    <div class="trikot-liste">
      <div class="trikot-card">
        <img class="trikot-img" [src]="juve"  alt="Juventus">
      </div>

      <div class="trikot-card">
        <img class="trikot-img" [src]="milan"  alt="AC Milan">
      </div>
    </div>
  </div>

  <div class="league-section">
    <h2>La Liga</h2>
    <div class="trikot-liste">
      <div class="trikot-card">
        <img class="trikot-img" [src]="barca"  alt="Barcelona">
      </div>
    </div>
  </div>

  <div class="league-section">
    <h2>International</h2>
    <div class="trikot-liste">
      <div class="trikot-card">
        <img class="trikot-img" [src]="kroatienH"  alt="Kroatien Heim">
      </div>

      <div class="trikot-card">
        <img class="trikot-img" [src]="kroatienA"  alt="Kroatien Auswärts">
      </div>
    </div>
  </div>
<p style="text-align: center"><strong>© by Oliver SENJIĆ</strong></p>
</body>
</html>
