$primary: burlywood;
$secondary: #B39EB5;
main {
  font-family: 'Times New Roman', Times, serif;
  background-color: $primary;
  padding: 2rem;
}
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}
.league-section {
  margin-bottom: 40px;
}
h2{
  text-align: center;
  margin: 10px;
}
.trikot-liste {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.trikot-card {
  background-color: #e3e0e0;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
}
  .trikot-img {
    width: 100%;
    height: 275px;
    border-radius: 10px;
  }

  .trikot-card h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
.custom-btn {
  background: none;
  border: none;
  color: white;

}
.button-format {
  display: block;
  gap: 15px;
  text-align: right;
}
.header {
  font-family: 'Times New Roman', Times, serif;
  background-color: #4c250a;
  height: 100px;
  width: 100%;
  font-size: 30px;
  transition: top 0.3s, bottom 0.3s;
}
.header-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.footer{
  font-family: 'Times New Roman', Times, serif;
  background-color: #4c250a;
  height: 70px;
  width: 100%;
  font-size: 25px;
}
.scroll-top-btn {
  display: block;
  text-align: center;
  background-color: #875634;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-top-btn:hover {
  background-color: #6d4427;
}


