.header {
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list a {
  color: white;
  font-size: 1.2rem;
}
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }
  .container {
    padding: 15px;
  }
}
h1 {
  text-align: center;
  color: #4CAF50;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.highlight {
  font-weight: bold;
  color: #3355ff;
}
.nohighlight {
  font-weight: bold;
  color: #ff3333;
}
.critical {
  font-weight: bold;
  color: #ff6a00;
}
.sport-image {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
