<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div class="container">
  <h1>Meine Sporthistorie</h1>
  <h2>Volksschule: Fußball beim SV Essling</h2>
  <p>Meine Reise im Sport begann schon in der Volksschule, als ich dem Fußballverein SV Essling beitrat. Trotz verlockender Angebote von besseren Vereinen, entschied ich mich, bei meinen Freunden zu bleiben und in diesem Verein zu spielen. Der Zusammenhalt und das vertraute Umfeld waren mir immer wichtiger.</p>
  <h2>Trampolinspringen</h2>
  <p>Später, als mir mein Vater ein Trampolin schenkte, verbrachte ich viele Sommer damit, darauf zu trainieren und neue Tricks zu üben. Ich träumte von Wettkämpfen, aber leider reichte meine Form nie ganz aus, um in diese Richtung ernsthaft durchzustarten.</p>
  <p>Ein besonderer Moment war, als ich meinen ersten <span class="highlight">Backflip auf dem Trampolin</span> schaffte!</p>
  <h2>Gymnasium: Verletzungen und Umorientierungen</h2>
  <p>Als ich ins Gymnasium kam, gab es einige Probleme, sowohl schulisch als auch gesundheitlich. Eine Verletzung am Sprunggelenk zwang mich, meine Fußballkarriere vorerst an den Nagel zu hängen. Ich musste mich auf meine Regeneration und die Schule konzentrieren, ohne zu wissen, dass dies nur der erste Rückschlag meiner sportlichen Reise sein würde.</p>
  <p>In den folgenden sieben Jahren spielte ich in meiner Freizeit immer mal wieder Fußball, doch es war kein großes Thema mehr in meinem Leben. Stattdessen entdeckte ich eine neue Leidenschaft für andere Sportarten wie Tischtennis, Basketball und vor allem Volleyball, das mir besonders viel Spaß machte.</p>
  <p>An der HTL hatte ich schließlich die Möglichkeit, Volleyball als Freigegenstand zu belegen. Ich fokussierte mich darauf, meine Fähigkeiten zu verbessern und träumte davon, irgendwann in einen Verein zu wechseln. In den Jahren an der HTL nahm ich an schulinternen Turnieren teil, bei denen wir immer gute Ergebnisse erzielten – egal in welcher Sportart.</p>
  <p>Doch dann geschah etwas Unerwartetes: <span class="critical">Bei einem Fußballspiel riss ich mir das vordere Kreuzband.</span>Zunächst bemerkte ich es nicht richtig und dachte, es sei nur eine Zerrung im Knie. Leider ließ ich die Verletzung nicht weiter untersuchen, was sich später als großer Fehler herausstellte. Ohne die notwendige Stabilisation im Knie litt mein Meniskus immer mehr und endete 2024 mit einem schlimmen Schaden – <span class="highlight">der Meniskus riss</span> ab, und ich konnte nicht mehr gehen.</p>
  <p>Dieser Rückschlag hat meine Zukunftspläne vorerst auf Eis gelegt, doch ich gebe nicht auf. Mein Ziel ist es, auch in Zukunft Sport zu treiben und wieder auf die Beine zu kommen, um meine Leidenschaft weiter zu verfolgen.</p>

</div>

<img src="assets-SPELITZ/volleyball.jpg" alt="volleyball" class="sport-image">
<br>
<img src="assets-SPELITZ/fußball.jpg" alt="fußball" class="sport-image">
<br>
</body>
