main {
  background-color: #001F54; // Dunkelblau
  padding: 2rem;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

.reise-box {
  background-color: #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #000000;
  text-align: left;
}

.reise-box img {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  margin-right: 1rem;
  object-fit: cover;
}

.reise-info {
  flex: 1;
}

.reise-info h2 {
  margin: 0;
  font-size: 1.5rem;
}

.reise-info p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .reise-box {
    flex-direction: column;
    text-align: center;
  }

  .reise-box img {
    margin: 0 0 1rem 0;
    width: 100%;
  }
}
