main {
  background-color: #001F54; // Dunkelblau
  padding: 2rem;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #E0E0E0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}

.container img {
  height: 120px;
  width: 100px;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.info {
  margin: 10px 0;
}

.info strong {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.info .italic {
  font-style: italic;
}

.button {
  margin: 20px;
}

.button button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button button:hover {
  background-color: #003d80;
}
