
<header>

</header>
<main>


<div class="container">
  <h1>Über Mich - Gurnoor Virk</h1>
  <img src="{{ me.urlImage }}" alt="Portrait">

  <div class="info">
    <strong>Name:</strong>
    <span>{{ me.firstname }} <span style="text-transform: uppercase;">{{ me.surname }}</span></span>


  </div>

  <div class="info">
    <strong>Geburtsdatum:</strong>
    <span>{{ me.birthday | date:'dd.MM.yyyy' }}</span>
  </div>

  <div class="info">
    <strong>Wohnort:</strong>
    <span>{{ me.zip_code }} {{ me.city }}</span>
  </div>

  <div class="info">
    <strong>E-Mail:</strong>
    <span>{{ me.email }}</span>
  </div>

  <div class="info">
    <strong>GitHub:</strong>
    <span><a href="https://github.com/{{ me.github_nickname }}" target="_blank">{{ me.github_nickname }}</a></span>
  </div>

  <div class="info">
    <strong>Abteilung:</strong>
    <span>{{ me.department }}</span>
  </div>

  <div class="info">
    <strong>Zitat:</strong>
    <span class="italic">{{ me.message }}</span>
  </div>



  <div class="button">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary custom-btn">Zurück zur Startseite</a>
    <a routerLink="/pageMyTravelsVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Reisen</a>
    <a routerLink="/pageMyGoalsVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Ziele</a>
    <a routerLink="/pageMyStadiumVisitsVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Stadienbesuche</a>
  </div>



</div>
</main>

<footer>

</footer>




