<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reise</title>
</head>
<body>
<div class="container">
  <h1>Mein Urlaub in Koh Samui</h1>
  <div class="timeline">
    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand29.jpg" alt="Ankunft am Flughafen">
        <img src="assets-MATUSCHKA/Thailand1.jpg" alt="Ankunft am Flughafen">
      </div>
      <div class="caption">
        <p></p>
      </div>
      <p class="title">Tag 1 - Hinflug</p>
      <p class="description"></p>
    </div>



    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand3.jpg" alt="Ankunft am Flughafen">
        <img src="assets-MATUSCHKA/Thailand2.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 2 - Ankunft</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand28.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand30.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 3 - Strand</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand4.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand5.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 4 - Elefanten</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand14.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand15.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 5 - Buddhas</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand6.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand7.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 6 - Strand & Sonnenuntergang</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand8.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand32.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 7 - Ausflug Teil 1</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand9.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand31.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 7 - Ausflug Teil 2</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand10.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand11.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 8 - Regen & Thai Kampf</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand12.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand13.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 9 - Capybaras</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand27.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand18.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 10 - Speedboat Ausflug Teil 1</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand16.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand17.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 10 - Speedboat Ausflug Teil 2</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

      <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand19.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 11 - Silvester</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand25.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand26.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 12 - Strand</p>
      <p class="description"></p>
    </div>

      <div class="arrow-container">
        <span class="arrow">➡️</span>
      </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand20.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand21.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 13 - Schweineinsel</p>
      <p class="description"></p>
    </div>

        <div class="arrow-container">
          <span class="arrow">➡️</span>
        </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand22.jpg" alt="Erste Stadttour">
        <img src="assets-MATUSCHKA/Thailand24.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 14 - Strand</p>
      <p class="description"></p>
    </div>

          <div class="arrow-container">
            <span class="arrow">➡️</span>
          </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand23.jpg" alt="Erste Stadttour">
      </div>
      <p class="title">Tag 15 - Abreise</p>
      <p class="description"></p>
    </div>
  </div>
  <br>
  <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active" class="btn btn-primary custom-btn">About Me</a>
</div>
</body>
</html>
