<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reise</title>
</head>
<body>
<div class="container">
  <h1>Mein Urlaub in Koh Samui</h1>
  <div class="timeline">
    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand29.jpg" alt="Ankunft am Flughafen">
        <img src="assets-MATUSCHKA/Thailand1.jpg" alt="Ankunft am Flughafen">
      </div>
      <div class="caption">
        <p>Flughafen Wien | Flughafen Doha</p>
      </div>
      <p class="title">Tag 1 - Hinflug</p>
      <p class="description"></p>
    </div>



    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand3.jpg" alt="Bier im Hotel">
        <img src="assets-MATUSCHKA/Thailand2.jpg" alt="Früchte & Cocktails am Strand">
      </div>
      <div class="caption">
        <p>Bier im Hotel | Früchte & Cocktails am Strand</p>
      </div>
      <p class="title">Tag 2 - Ankunft</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand28.jpg" alt="Strandbild1">
        <img src="assets-MATUSCHKA/Thailand30.jpg" alt="Strandbild2">
      </div>
      <div class="caption">
        <p>2 Bilder vom Strand, welcher bei unserem Hotel war</p>
      </div>
      <p class="title">Tag 3 - Strand</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand4.jpg" alt="Elefant alleine">
        <img src="assets-MATUSCHKA/Thailand5.jpg" alt="Elefant mit Kind">
      </div>
      <div class="caption">
        <p>Elefanten in einem freien Wildpark</p>
      </div>
      <p class="title">Tag 4 - Elefanten</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand14.jpg" alt="Buddha1">
        <img src="assets-MATUSCHKA/Thailand15.jpg" alt="Buddha2">
      </div>
      <div class="caption">
        <p>2 wunderschöne Buddhas</p>
      </div>
      <p class="title">Tag 5 - Buddhas</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand6.jpg" alt="Strandbild3">
        <img src="assets-MATUSCHKA/Thailand7.jpg" alt="Sonnenuntergang">
      </div>
      <div class="caption">
        <p>Strandtag hier verbracht | Sonnenuntergang</p>
      </div>
      <p class="title">Tag 6 - Strand & Sonnenuntergang</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand8.jpg" alt="Großer Wasserfall">
        <img src="assets-MATUSCHKA/Thailand32.jpg" alt="Kleiner Wasserfall">
      </div>
      <div class="caption">
        <p>Wunderschöne Wasserfälle</p>
      </div>
      <p class="title">Tag 7 - Ausflug Teil 1</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand9.jpg" alt="Buddha Garden">
        <img src="assets-MATUSCHKA/Thailand31.jpg" alt="Statue">
      </div>
      <div class="caption">
        <p>Buddha Garden | Statue in einer Nebelwolke</p>
      </div>
      <p class="title">Tag 7 - Ausflug Teil 2</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand10.jpg" alt="Regen">
        <img src="assets-MATUSCHKA/Thailand11.jpg" alt="Thai Kampf">
      </div>
      <div class="caption">
        <p>Meer bei Regen | Thai Kampf</p>
      </div>
      <p class="title">Tag 8 - Regen & Thai Kampf</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand12.jpg" alt="Capybara1">
        <img src="assets-MATUSCHKA/Thailand13.jpg" alt="Capybara2">
      </div>
      <div class="caption">
        <p>Capybaras, welche entspannen</p>
      </div>
      <p class="title">Tag 9 - Capybaras</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand27.jpg" alt="Speedboat">
        <img src="assets-MATUSCHKA/Thailand18.jpg" alt="Kajak">
      </div>
      <div class="caption">
        <p>Meer | Kajak fahren</p>
      </div>
      <p class="title">Tag 10 - Speedboat Ausflug Teil 1</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand16.jpg" alt="Selfie">
        <img src="assets-MATUSCHKA/Thailand17.jpg" alt="Aussicht">
      </div>
      <div class="caption">
        <p>Selfie vom höchsten Aussichtspunkt | Gigantische Aussicht</p>
      </div>
      <p class="title">Tag 10 - Speedboat Ausflug Teil 2</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

      <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand19.jpg" alt="Silvester">
      </div>
        <div class="caption">
          <p>Silvester in der bekanntesten Bar</p>
        </div>
      <p class="title">Tag 11 - Silvester</p>
      <p class="description"></p>
    </div>

    <div class="arrow-container">
      <span class="arrow">➡️</span>
    </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand25.jpg" alt="Strandbild4">
        <img src="assets-MATUSCHKA/Thailand26.jpg" alt="Strandbild5">
      </div>
      <div class="caption">
        <p>Strand, an dem der Tag verbracht wurde</p>
      </div>
      <p class="title">Tag 12 - Strand</p>
      <p class="description"></p>
    </div>

      <div class="arrow-container">
        <span class="arrow">➡️</span>
      </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand20.jpg" alt="Schwein1">
        <img src="assets-MATUSCHKA/Thailand21.jpg" alt="Schwein2">
      </div>
      <div class="caption">
        <p>Schweine</p>
      </div>
      <p class="title">Tag 13 - Schweineinsel</p>
      <p class="description"></p>
    </div>

        <div class="arrow-container">
          <span class="arrow">➡️</span>
        </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand22.jpg" alt="Jetski">
        <img src="assets-MATUSCHKA/Thailand24.jpg" alt="Strandbild6">
      </div>
      <div class="caption">
        <p>Jetski fahren | Strandtag</p>
      </div>
      <p class="title">Tag 14 - Strand</p>
      <p class="description"></p>
    </div>

          <div class="arrow-container">
            <span class="arrow">➡️</span>
          </div>

    <div class="day">
      <div class="image-gallery">
        <img src="assets-MATUSCHKA/Thailand23.jpg" alt="Flug Koh Samui">
      </div>
      <div class="caption">
        <p>Flug zurück nach Bangkok</p>
      </div>
      <p class="title">Tag 15 - Abreise</p>
      <p class="description"></p>
    </div>
  </div>
  <br>
  <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active" class="btn btn-primary custom-btn">About Me</a>
</div>
</body>
</html>
