@import "../MATUSCHKA_Variables";
.body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #64d16c, #ffffff);
  text-align: center;
  padding: 20px;
}
.container {
  max-width: 1150px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.day {
  background: linear-gradient(to bottom, #ffa726, #ffeb3b);
  width: 450px;
  height: 520px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
.title {
  font-size: 1.1em;
  font-weight: bold;
  color: #004d40;
}

.description {
  font-size: 0.9em;
  color: #2e7d32;
}

.arrow {
  font-size: 30px;
  color: #ff5722;
  margin-top: 10px;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  .image-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.custom-btn {
  background: none;
  color: $secondary;
  border: none;
  font-size: 20px;
}

.header {
  font-family: 'Calibri', Times, serif;
  background-color: #000000;
  height: 80px;
  width: 100%;
  font-size: 25px;
}
.footer {
  font-family: 'Calibri', Times, serif;
  background-color: #ae3232;
  height: 80px;
  width: 100%;
  font-size: 25px;
}
.button-header{
  font-family: 'Calibri', Times, serif;
  text-align: center;
}
