<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reise</title>
</head>
<body>
<div class="container">
  <h1>Mein Urlaub in Koh Samui</h1>
  <div class="timeline">
    <div class="day">
      <p class="title">Tag 1</p>
    </div>

    <div class="day">
      <p class="title">Tag 2</p>
    </div>

    <div class="day">
      <p class="title">Tag 3</p>
    </div>

    <div class="day">
      <p class="title">Tag 4</p>
    </div>

    <div class="day">
      <p class="title">Tag 5</p>
    </div>

    <div class="day">
      <p class="title">Tag 6</p>
    </div>

    <div class="day">
      <p class="title">Tag 7</p>
    </div>

    <div class="day">
      <p class="title">Tag 8</p>
    </div>

    <div class="day">
      <p class="title">Tag 9</p>
    </div>

    <div class="day">
      <p class="title">Tag 10</p>
    </div>

    <div class="day">
      <p class="title">Tag 11</p>
    </div>

    <div class="day">
      <p class="title">Tag 12</p>
    </div>

    <div class="day">
      <p class="title">Tag 13</p>
    </div>

    <div class="day">
      <p class="title">Tag 14</p>
    </div>

    <div class="day">
      <p class="title">Tag 15</p>
    </div>

  </div>
</div>
</body>
</html>
