/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
}

main {
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

.profile-container {
  margin-top: 2rem;
}

.profile-container img {
  max-width: 9.375rem;
  height: auto;
}

.details-container {
  display: inline-block;
  text-align: left;
  margin-top: 1.25rem;
}

.details-container p {
  margin: 0.3125rem 0;
}

.details-container b {
  display: inline-block;
  width: 9.375rem;
  text-align: left;
}

.btn {
  margin: 0.1rem;
}
