<app-navbar-schoeffmann></app-navbar-schoeffmann>

<div class="container mt-5">
  <h1 class="text-center">Meine Projekte</h1>
  <div class="row mt-4 justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <img [src]="angularimg" class="card-img-top p-3" alt="Projekt 1">
        <div class="card-body">
          <h5 class="card-title">Projekt Angular Webseite</h5>
          <p class="card-text">Dies beinhaltet diese Webseite hier.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img [src]="tankrobot" class="card-img-top p-3" alt="Projekt 2">
        <div class="card-body">
          <h5 class="card-title">Projekt Roboter</h5>
          <p class="card-text">Ein mobiler Arbeitsroboter für den industriellen Einsatz.</p>
          <p class="card-text"><a href="https://github.com/theBroGrammer2624/Fahrzeugsteuerung" >Link zum Github Code</a></p>
        </div>
      </div>
    </div>
    <!--<div class="col-md-4">
      <div class="card">
        <img src="" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Projekt Gamma</h5>
          <p class="card-text">Eine KI-gestützte Lösung für automatisierte Kundenanfragen.</p>
        </div>
      </div>
    </div>-->
  </div>
</div>
