<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Startseite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/pages-schoeffmann" routerLinkActive="active">Übermich</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages-schoeffmann-meine-reisen" routerLinkActive="active">Meine Reisen</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages-schoeffmann-projekte" routerLinkActive="active">Meine Projekte</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages-schoeffmann-hobbys" routerLinkActive="active">Meine Hobbys</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-center">Meine Projekte</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <img src="./../public/assets-SCHOEFFMANN/angular.jpg" class="card-img-top p-3" alt="Projekt 1">
        <div class="card-body">
          <h5 class="card-title">Projekt Angular Webseite</h5>
          <p class="card-text">Dies beinhaltet diese Webseite hier.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/public/assets-SCHOEFFMANN/freenove-tank-robot.jpg" class="card-img-top p-3" alt="Projekt 2">
        <div class="card-body">
          <h5 class="card-title">Projekt Roboter</h5>
          <p class="card-text">Ein mobiler Arbeitsroboter für den industriellen Einsatz.</p>
          <p class="card-text"><a href="https://github.com/theBroGrammer2624/Fahrzeugsteuerung" >Link zum Github Code</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Projekt Gamma</h5>
          <p class="card-text">Eine KI-gestützte Lösung für automatisierte Kundenanfragen.</p>
        </div>
      </div>
    </div>
  </div>
</div>
