<!DOCTYPE html>
<html lang="de">
<head>
  <title>Meine Reise</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="C:\Users\Danie\WebstormProjects\4ahitn_24\src\app\pages\pages-students\page-meine-reise-stoilov\page-meine-reise-stoilov.component.scss">
</head>
<body style="background-color:#2A2438">
<header>
  <h1>Meine Reise</h1>
  <nav>
    <a href="index.html" class="header-button">Zurück</a>
    <a routerLink="/aboutMeSTOILOV" routerLinkActive="active" class="header-button">Über mich</a>
    <a routerLink="/meineHobbiesSTOILOV" routerLinkActive="active" class="header-button">Meine Hobbies</a>
    <a routerLink="/meineVisionUndZieleSTOILOV" routerLinkActive="active" class="header-button">Vision & Ziele</a>
  </nav>
</header>

<br>


  <div class="reise">
    <h2 align="center">Bulgarien</h2>
    <img src="assets-STOILOV/bulgarien.jpg" alt="Reiseziel Bulgarien">
    <p class="bewertung">Wunderschöne Kirchen, Städte und Natur!</p>
    <p class="ortschaft">Ort: София, Александър Невски</p>
  </div>

  <div class="reise">
    <h2 align="center">Deutschland</h2>
    <img src="assets-STOILOV/deutschland.jpg" alt="Reiseziel Deutschland">
    <p class="bewertung">Von der historischen Berliner Mauer bis zu den Alpen – Deutschland ist vielseitig!</p>
    <p class="ortschaft">Ort: München</p>
  </div>

  <div class="reise">
    <h2 align="center">Frankreich</h2>
    <img src="assets-STOILOV/frankreich.jpg" alt="Reiseziel Frankreich">
    <p class="bewertung">Paris, die Stadt der Liebe, und wunderschöne Weinregionen laden zum Verweilen ein.</p>
    <p class="ortschaft">Ort: Paris, Eiffelturm</p>
  </div>

  <div class="reise">
    <h2 align="center">Italien</h2>
    <img src="assets-STOILOV/italien.jpg" alt="Reiseziel Italien">
    <p class="bewertung">Italien verzaubert mit seiner Küche, Architektur und traumhaften Küsten.</p>
    <p class="ortschaft">Ort: Venedig</p>
  </div>

  <div class="reise">
    <h2 align="center">Spanien</h2>
    <img src="assets-STOILOV/spanien.jpg" alt="Reiseziel Spanien">
    <p class="bewertung">Lebendige Städte, Flamenco und atemberaubende Strände – Spanien ist einzigartig!</p>
    <p class="ortschaft">Ort: Barcelona, La Sagrada Familia</p>
  </div>

  <div class="reise">
    <h2 align="center">Vereinigte Arabische Emirate</h2>
    <img src="assets-STOILOV/uae.jpg" alt="Reiseziel UAE">
    <p class="bewertung">Moderne Wolkenkratzer, Wüstenlandschaften und luxuriöse Hotels in Dubai.</p>
    <p class="ortschaft">Ort: Dubai, Burj Khalifa</p>
  </div>

<br>

</body>
<footer class="footer">
  <p>&copy; 2025 Daniel Stoilov</p>
</footer>
</html>
