.ortschaft {
  color: #787878;
  font-family: "Arial";
  font-style: italic;
  text-align: center;
}

.back {
  color: #787878;
}

.bewertung {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}

// Text-Styling
p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}
//-----------

header {
  background-color: #352F44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #DBD8E3;
  font-size: 2.5rem;
  text-align: center;
  flex-grow: 1;
  font-size: 70px;
}

nav {
  display: flex;
  justify-content: flex-end; // Verschiebt die Buttons nach rechts
  gap: 10px;
}

.header-button {
  background-color: #5C5470;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.footer {
  background-color: #352F44;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: 'Roboto Sans', sans-serif;
  font-size: 20px;
}

.reise {
  background-color: #352F44; /* Heller Grauton */
  font-style: italic;
  text-align: left;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px; /* Abgerundete Ecken */
}

.reise img {
  display: block;
  width: 800px;
  height: 600px;
  border-radius: 15px;
  margin: 10px auto;
}

.layer2 {
  $spacing-desktop: 2rem;

  background-color: #5C5470; /* Heller Grauton */
  padding: 1rem;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px; /* Abgerundete Ecken */
}

p {
  font-size: 1.2rem;
  color: #DBD8E3;
}

h2 {
  color: #DBD8E3;
  font-size: 50px;
}
