<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bild und Text</title>
  <style>
    .bild-rechts {
      position: absolute;
      top: 20px;
      right: 20px;
      max-width: 1000px;
      height: auto;
    }
  </style>
</head>
<body>
<img src="assets-MATUSCHKA/Bild.jpg" alt="Profilbild" class="bild-rechts">

<h1>Meine Webseite</h1>
<p><strong>Name:</strong> Simon MATUSCHKA</p>
<p><strong>Geburtsdatum:</strong> 11.09.2006</p>
<p><strong>Email:</strong><a href ="mailto: 210062@studierende.htl-donaustadt.at">{{Mail}}</a></p>
<p><strong>Abteilung:</strong> ITEL (Netzwerktechnologie)</p>
<p><strong>Wohnort:</strong> Wien 1220</p>
<p><strong>GitHub:</strong> Simon3294</p>
<br>
<p><em>You miss 100% of the shots you don't take. ~Wayne Gretzky</em></p>
</body>
</html>
