<app-header-klaric></app-header-klaric>
<div class="container mt-5">
  <div class="card profile-card">
    <div class="row g-0">
      <div class="col-md-4 p-3">
        <img src="{{ me.urlImage }}" class="profile-image" alt="{{ me.firstname }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            {{ me.firstname }}
            <span class="surname">{{ me.surname }}</span>
          </h5>
          <p class="card-text details">
            <strong>Birthday:</strong> {{ me.birthday }}<br>
            <strong>Department:</strong> {{ me.department }}<br>
            <strong>Email: </strong>
            <a href="mailto:{{ me.email }}" class="email">{{ me.email }}</a><br>
            <strong>GitHub: </strong>
            <a href="https://github.com/{{ me.github_nickname }}" target="_blank" class="github">&#64;{{ me.github_nickname }}</a><br>
            <strong>City:</strong> {{ me.zip_code }} {{ me.city }}
          </p>
          <p class="card-text message">{{ me.message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-klaric></app-footer-klaric>
