.container {
  background-color: #0000FF;
  padding: 1rem;
}

.profile-card {
  max-width: 2000px;
  margin: 2rem;
  border: 1px solid #007bff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #007bff;
}

.card-title {
  color: #007bff;
  font-family: 'Verdana', sans-serif;
}

.surname {
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

.details {
  font-family: 'Georgia', serif;
}

.email, .github {
  text-decoration: none;
  color: #007bff;
}

.message {
  font-style: italic;
  font-family: 'Cursive', sans-serif;
}
