:root {
  --main-color: #4caf50;
  --text-color: #ffffff;
  --secondary-color: #333333;
}

body {
  font-family: 'Georgia', serif;
  /*background-color: #d3d3d3; falls ich Hintergrund machen will*/
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

header h1 {
  margin-top: 0;
}

.contact-info, .description, .quote {
  margin: 2rem;
}

.contact-info p, .description p {
  margin: 1rem 0;
}

.quote {
  font-style: italic;
  text-align: center;
}

.contact-info .last-name {
  text-transform: uppercase; /* Nachname in Blockschrift */
}

.profile-image {
  display: block;
  max-width: 20px;
  /*border-radius: 20%;  Runde Form für das Bild */
  margin: 2rem auto;
  border: 3px solid var(--text-color);
}

@media (max-width: 768px) {
  header, .contact-info, .description, .quote {
    padding: 1rem;
    margin: 1rem;
  }
}
