.footer-adry {
  background: rgba(61, 62, 64, 0.9);
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.footer-info p {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.footer-info span {
  font-weight: bold;
}

.footer-adry a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-adry a:hover {
  color: #f0a500;
}

.footer-divider {
  width: 100%;
  height: 0.3rem;
  background: rgba(0, 0, 0, 1);
}
