.footer-adry {
  background: rgba(61, 62, 64, 0.9); /* Gleiche Farbe wie der Header */
  color: white; /* Textfarbe für gute Lesbarkeit */
  padding: 1rem 0; /* Abstand innen */
  text-align: center; /* Text zentrieren */
}
