.hero-section {
  background: #003366;
  color: white;
  text-align: center;
  padding: 50px 20px;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.stadium-highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.stadium-card {
  background: #ffffff;
  width: 280px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

.stadium-btn {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: #00509e;
  }
}
