<app-header-klaric></app-header-klaric>
<div class="stadium-page">
  <section class="hero-section">
    <h1>Meine Stadionbesuche</h1>
    <p>Erkunde die legendären Stadien, die ich besucht habe!</p>
  </section>

  <section class="stadium-highlights">
    <div class="stadium-card">
      <h2>Poljud Stadion (Split, Kroatien)</h2>
      <img src="https://static.hajduk.hr/rev-1720684120/image_transform.php/transform/1/instance_id/1/tasks/thumbnail_fix/width/1200/height/675/format/thumbnail/type/video/video_id/1605" alt="Poljud Stadion">
      <p>Ein fantastisches Stadion mit einer einzigartigen Architektur!</p>
      <a href="https://de.wikipedia.org/wiki/Poljudstadion" class="stadium-btn">Mehr erfahren</a>
    </div>

    <div class="stadium-card">
      <h2>Marakana Stadion (Belgrad, Serbien)</h2>
      <img src="https://en.nogomania.com/GetFile.ashx?id=245975" alt="Marakana Stadion">
      <p>Ein legendäres Stadion in Belgrad, bekannt für seine Geschichte und Atmosphäre!</p>
      <a href="https://de.wikipedia.org/wiki/Marakana" class="stadium-btn">Mehr erfahren</a>
    </div>

    <div class="stadium-card">
      <h2>Stadion von Rapid Wien (Wien, Österreich)</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Vienna_allianz_stadion.jpg" alt="Stadion von Rapid Wien">
      <p>Ein beliebtes und traditionsreiches Stadion in Österreich.</p>
      <a href="https://de.wikipedia.org/wiki/Allianz_Stadion" class="stadium-btn">Mehr erfahren</a>
    </div>

    <div class="stadium-card">
      <h2>Ernst-Happel-Stadion (Wien, Österreich)</h2>
      <img src="https://www.wienersportstaetten.at/media/image/c480x255/22.jpg" alt="Ernst-Happel-Stadion">
      <p>Das größte Stadion Österreichs und eine legendäre Arena!</p>
      <a href="https://de.wikipedia.org/wiki/Ernst-Happel-Stadion" class="stadium-btn">Mehr erfahren</a>
    </div>
  </section>
</div>
<app-footer-klaric></app-footer-klaric>
