<app-navbar-schoeffmann></app-navbar-schoeffmann>

<div class="container mt-5 mb-5">
  <h1 class="text-center">Meine Hobbys:</h1>
  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="feuerimg" class="card-img-top p-3" alt="Projekt 1">
        <div class="card-body">
          <h5 class="card-title">Mit Feuer spielen</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="serverimg" class="card-img-top p-3" alt="Projekt 2">
        <div class="card-body">
          <h5 class="card-title">Server zerlegen</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

  </div>


  <div class="align-items-center card p-3 bg-success mt-5">
    <h5>Mit dem Fahrrad durch die Gegend fahren und spannende Objekte begutachten.</h5>
  </div>


  <!--Neue Reihe-->
  <div class="row mt-4">
    <!--<div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mit dem Fahrrad durch die Gegend fahren und spannende Objekte begutachten.</h5>
        </div>
      </div>
    </div>-->

    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="eine380kVLeitungimg" class="card-img-top p-3" alt="Projekt 3">
        <img [src]="eisabfallimg" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">380kV-Leitung</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="kraftwerkduernrohrimg" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Das Kohlekraftwerk in Dürnrohr beim Abbau</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="grashuepferimg" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Grashüpfer auf einem Zelt</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
