.container {
  background-color: #e0e0e0;
  padding: 2rem;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 24px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
blockquote {
  font-style: italic;
  margin: 20px 0;
}
img {
  width: 500px;
  height: 400px;
  border-radius: 15px;
}
.button {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}


