<!DOCTYPE html>
<html lang="de">
<head>
  <title>Meine Vision & Ziele</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="C:\Users\Danie\WebstormProjects\4ahitn_24\src\app\pages\pages-students\page-meine-vision-und-ziele-stoilov\page-meine-vision-und-ziele-stoilov.component.scss">
</head>
<body style="background-color:#2A2438">
<header>
  <h1>Meine Vision & Ziele</h1>
  <nav>
    <a href="index.html" class="header-button">Zurück</a>
    <a routerLink="/aboutMeSTOILOV" routerLinkActive="active" class="header-button">Über mich</a>
    <a routerLink="/meineHobbiesSTOILOV" routerLinkActive="active" class="header-button">Meine Hobbies</a>
    <a routerLink="/meineReiseSTOILOV" routerLinkActive="active" class="header-button">Meine Reise</a>
  </nav>
</header>

<div class="container">
  <h2>Meine Vision und Ziele</h2>
  <p>Ich möchte mich beruflich im Bereich Programmieren, IT und Netzwerktechnik weiterentwickeln. Meine Hardware-Kenntnisse möchte ich vertiefen und in der Praxis anwenden.</p>
  <p>Mein Ziel ist es, an spannenden IT-Projekten zu arbeiten, innovative Lösungen zu entwickeln und mein Wissen kontinuierlich zu erweitern.</p>
  <p>Ich freue mich über Unterstützung durch Mentoring, Kollaboration und Feedback, um meine Fähigkeiten weiter zu verbessern.</p>
</div>

<div class="container">
  <img align="center" src="assets-STOILOV/hardware.jpg" alt="Hardware-Bild">
</div>

<div class="container">
  <img align="center" src="assets-STOILOV/network.jpg" alt="IT-Bild">
</div>

<br>

</body>
<footer class="footer">
  <p>&copy; 2025 Daniel Stoilov</p>
</footer>
</html>
