<div class="anchor">
  <div class="parallel">
    <p><strong>E-Mail:</strong></p>
    <p><a href="mailto:210008@htl-donaustadt.at">{{ me.email }}</a></p>
  </div>
  <div class="parallel">
    <p><strong>Tel.:</strong></p>
    <p><a href="tel:+436601159788">+43 6601159788</a></p>
  </div>
  <div class="parallel">
    <p><strong>Addresse:</strong></p>
    <p><a href="https://maps.app.goo.gl/hJCCzsPLE1e2QgaQ6">Donaustadtstraße 45</a></p>
  </div>
  <div class="parallel">
    <p><strong>Github:</strong></p>
    <p><a href="https://github.com/TRJulian">{{ me.github_nickname }}</a></p>
  </div>
</div>
