<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Zukunft</title>
</head>
<header>
  <div id="myDiv2">
    <a routerLink="/aboutMeIBRAHIM" routerLinkActive="active" class="btn btn-success ms-2">Über mich</a>
  </div>
</header>

<div id="body">
  <div id="container">

    <h1 style="text-align: center; margin-bottom: 20px">Meine Zukunft</h1>

    <div id="future-item1">
      <img src="assets-IBRAHIM/IBRAHIM_ZUKUNFT_BERUF.jpg" alt="Beruf">
      <h2>Beruf</h2>
      <p>Ich möchte ein erfolgreicher Netzwerktechniker werden und moderne, zuverlässige IT-Infrastrukturen mitgestalten</p>
    </div>

    <div id="future-item2">
      <img src="assets-IBRAHIM\IBRAHIM_ZUKUNFT_REISEN.jpeg" alt="Zukunftsreisen">
      <h2>Reisen</h2>
      <p>In Zukunft will ich viele Länder entdecken und neue Kulturen kennenlernen.</p>
    </div>

    <div id="future-item3">
      <img src="assets-IBRAHIM\IBRAHIM_ZUKUNFT_FITNESS.jpg" alt="Fitness">
      <h2>Körperliche Fitness</h2>
      <p>Ich möchte körperlich fitter werden, mehr Sport treiben und einen gesunden Lebensstil führen.</p>
    </div>

    <p style="text-align: center; padding-top: 40px;"><strong>© by Mohamad Kosai Ibrahim</strong></p>
  </div>
</div>

<footer>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/aboutMeIBRAHIM" routerLinkActive="active">Über mich</a></li>
      <li><a routerLink="/page-meine-reisen" routerLinkActive="active">Meine Reisen</a></li>
      <li><a routerLink="/page-my-future-ibrahim" routerLinkActive="active">my future</a></li>
      <li><a routerLink="/page-my-pets-ibrahim" routerLinkActive="active">my pets</a></li>
    </ul>
  </nav>
</footer>
</html>
