
body {
  background-color: white;
  color: lemonchiffon;
}


body{
  font-family: 'Arial', serif;
}

.container {
  min-height: 100vh;
}

.centered {
  text-align: left;
}

.textSize {
  font-size: 1.2rem;
}
