<main>
  <h1 class="überschrift">Meine Ausbildung</h1>
  <h3 class="überschrift">Schulen</h3>
  <div class="container">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="überschrift">VS Esslinger Hauptstraße</h5>
        <p class="card-text">Von September 2013 - Juli 2017</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="überschrift">AHS Heustadelgasse</h5>
        <p class="card-text">Von September 2017 - Juli 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="überschrift">HTL Donaustadt</h5>
        <p class="card-text">Seit September 2021</p>
      </div>
    </div>
  </div><br>
  <h3 class="überschrift">Praktikum</h3>
  <div class="container">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="überschrift">Samariterbund</h5>
        <p class="card-text">Ein Monat: August 2024</p>
        <p class="card-text">In der IT-Abteilung des Samariterbundes</p>
      </div>
    </div>
  </div>

</main>
