@import "../pages-MILLICH_variables";
.überschrift{
  text-align: center;
  font-family: 'Verdana', sans-serif;
}
main{
  background: #007BAF;
  padding: 4.5rem 2rem 2rem;
}
.container{
  display : flex;
  gap: 20px;
  justify-content: center;
}
.centerbutton{
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.width{
  width: 30rem;
}
