body {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
body {
  font-family: 'Georgia', serif;
  background-color: white;
  color: black;
}


@media (prefers-color-scheme: dark) {
  body {
    font-family: 'Georgia', serif;
    background-color: black;
    color: white;
  }
}

.container {
  min-height: 100vh;
}

