<app-header-millich></app-header-millich>
<main>
  <div class="karte-container">
    <img src="/assets-MILLICH/karte.jpg" class="fullscreen">
    <div class="überschrift">Meine Reisen</div>

    <a href="meineReisenMillich#italien"><div class="pin italien"></div></a>
    <a href="meineReisenMillich#frankreich"><div class="pin frankreich"></div></a>
    <a href="meineReisenMillich#spanien"><div class="pin spanien"></div></a>
    <a href="meineReisenMillich#griechenland"><div class="pin griechenland"></div></a>
  </div><br>
<div class="container">
<div class="card width" id="italien">
  <img class="flagge" src="/assets-MILLICH/italien.png">
  <div class="card-body">
    <h4>Italien</h4>
    <p class="card-text">Italien ist bekannt für seine reiche Geschichte, Kultur und Küche. Vom antiken Rom bis zur Renaissance bietet es eine Vielzahl an historischen Stätten und Kunstwerken, und seine kulinarische Vielfalt ist weltweit berühmt.</p>
  </div>
</div><br>

<div class="card width" id="frankreich">
  <img class="flagge" src="/assets-MILLICH/frankreich.png">
  <div class="card-body">
    <h4>Frankreich</h4>
    <p class="card-text">Frankreich ist berühmt für seine Mode, Wein und Kunst. Mit Städten wie Paris, die als Kulturhauptstadt gelten, sowie beeindruckenden Sehenswürdigkeiten wie dem Eiffelturm und dem Louvre, zieht es Besucher aus aller Welt an.</p>
  </div>
</div><br>

<div class="card width" id="spanien">
  <img class="flagge" src="/assets-MILLICH/spanien.png">
  <div class="card-body">
    <h4>Spanien</h4>
    <p class="card-text">Spanien zeichnet sich durch lebendige Traditionen, warme Strände und eine reiche Geschichte aus. Von der Architektur Gaudís in Barcelona bis zu den historischen Städten wie Madrid ist es ein Land voller Kontraste und kultureller Vielfalt.</p>
  </div>
</div><br>

<div class="card width" id="griechenland">
  <img class="flagge" src="/assets-MILLICH/griechenland.png">
  <div class="card-body">
    <h4>Griechenland</h4>
    <p class="card-text">Griechenland ist die Wiege der westlichen Zivilisation und für seine antiken Ruinen wie die Akropolis bekannt. Zudem locken seine wunderschönen Inseln und das kristallklare Meer jedes Jahr zahlreiche Touristen an.</p>
  </div>
</div>

<a routerLink="/about_meMILLICH" routerLinkActive="active" class="btn btn-primary">Zurück</a>
</div><br>
</main>
<app-footer-millich></app-footer-millich>
