<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Haustiere</title>
</head>
<header>
  <div id="myDiv2">
    <a routerLink="/aboutMeIBRAHIM" routerLinkActive="active" class="btn btn-success ms-2">Über mich</a>
  </div>
</header>

<div id="body">
  <div id="container">

    <h1 style="text-align: center; margin-bottom: 20px">Meine Haustiere</h1>

    <div id="pet-item1">
      <img src="assets-IBRAHIM/IBRAHIM_KATER_RUDI.jpg" alt="Kater Rudi">
      <h2>Kater Rudi</h2>
      <p>Rudi ist neugierig, verspielt und sehr brav – genau deshalb liebe ich ihn.</p>
    </div>

    <div id="pet-item2">
      <img src="assets-IBRAHIM/IBRAHIM_KATZE_SUNA.jpg" alt="Katze Suna">
      <h2>Katze Suna</h2>
      <p>Suna ist chaotisch, frech ist aber sehr  kuschelig.</p>
    </div>

    <div id="pet-item3">
      <img src="assets-IBRAHIM\IBRAHIM_BEIDE_KATZEN.jpg" alt="Rudi und Suna zusammen">
      <h2>Rudi & Suna</h2>
      <p>Wenn Rudi und Suna zusammen liegen oder spielen, ist das einfach nur süß. Sie verstehen sich richtig gut und sind ein tolles Team.</p>
    </div>


    <p style="text-align: center; padding-top: 40px;"><strong>© by Mohamad Kosai Ibrahim</strong></p>
  </div>
</div>

<footer>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/aboutMeIBRAHIM" routerLinkActive="active">Über mich</a></li>
      <li><a routerLink="/page-meine-reisen" routerLinkActive="active">Meine Reisen</a></li>
      <li><a routerLink="/page-my-future-ibrahim" routerLinkActive="active">my future</a></li>
      <li><a routerLink="/page-my-pets-ibrahim" routerLinkActive="active">my pets</a></li>
    </ul>
  </nav>
</footer>
</html>
