<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bild und Text</title>
</head>
<body>
<section class="custom-container">
  <div class="custom-card">
    <div class="image">
      <img src="assets-MATUSCHKA/Bild.jpg" class="bild-rechts" alt="Profilbild">
    </div>
    <div class="content">
      <h1 class="card-title"><strong>Simon MATUSCHKA</strong></h1>
      <p class="card-text">
        <strong>Geburtsdatum:</strong> 11.09.2006<br>
        <strong>Email:</strong> <a href="mailto:{{Mail}}" class="text-decoration-none">{{ Mail }}</a><br>
        <strong>Wohnort:</strong> Wien 1220<br>
        <strong>Abteilung:</strong> ITEL (Netzwerktechnologie)<br>
        <strong>GitHub: </strong> <a href="https://github.com/{{Github}}" target="_blank" class="text-decoration-none">&#64;{{ Github }}</a><br>
        <strong>Hobbys:</strong> Handball, Skifahren, Sport im allgemeinen, mit Freunden was unternehmen<br>

      </p>
      <p class="card-text"><em>You miss 100% of the shots you don't take. ~Wayne Gretzky</em></p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary custom-btn"  style="margin-right: 10px">Back</a>
      <a routerLink="/stadienbesucheMatuschka" routerLinkActive="active" class="btn btn-primary custom-btn">Stadionbesuche</a>
    </div>
  </div>
</section>
</body>
</html>
