body {
  font-family: 'Calibri', Times, serif;
  font-size: 16px;
  background-color: #008000;
  padding: 2rem;
}

.bild-rechts {
  position: absolute;
  top: 20px;
  left: 525px;
  max-width: 100px;
  height: auto;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #1cff11;
  border-radius: 120px;
}

.custom-card {
  display: flex;
  max-width: 1000px;
  border: 2px solid #ffffff;
  border-radius: 12px;
}

.custom-card .content {
  padding: 1.5rem;
  width: 80%;
}

.custom-card .image {
  position: relative;
  width: 0.1%;
}
h5.card-title {
  font-family: 'Georgia', serif;
  font-size: 24px;
  color: #ffffff;
}

p.card-text {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

a.text-decoration-none {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
