<div class="anchor">
  <div class="container textFont textSize centered">
    <img class="image" src="{{me.urlImage}}">
    <p class="name"> {{ me.firstname }} {{ me.surname }}<br></p>
    <p>Geburtstag: {{ me.birthday | date:'dd MMMM yyyy' }}<br></p>
    <p>E-Mail: <a href="mailto:210008@htl-donaustadt.at">{{ me.email }}</a></p>
    <p>Github: <a href="https://github.com/TRJulian">{{me.github_nickname}}</a></p>
    <p>Wohntort: {{ me.zip_code }} {{ me.city }}<br></p>
    <p>Schule: HTL Donaustadt</p>
    <p>Abteilung: {{ me.department }}<br></p>
    <p class="zitat">{{ me.message }}</p>
    <a routerLink="/home" routerLinkActive="active" class="btn">Startseite</a>
    <a routerLink="/reisenKrapf" routerLinkActive="active" class="btn">Meine Reisen</a>
    <a routerLink="/reisezieleKrapf" routerLinkActive="active" class="btn">Meine Reiseziele</a>
    <a routerLink="/hobbiesKrapf" routerLinkActive="active" class="btn">Meine Hobbies</a>
  </div>
</div>
