.container {
  min-height: 100vh;
}

.centered {
  text-align: center;
}

.textSize {
  font-size: 1.4rem;
}

.textFont {
  font-family: 'Oxygen', Verdana, sans-serif;
}

.name {
  font-size: 3rem;
}

.zitat {
  font-style: italic;
}
