.container {
  width: 100%;
  min-height: 45rem;
  min-width: 50rem;
  padding: 1.5rem;
  margin: 1.5rem;
  border: 1px solid black;
  background-color: #80ffd4;
  border-radius: 3rem;
}

.anchor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  text-align: center;
  justify-content: center;
}

.textSize {
  font-size: 1.4rem;
}

.textFont {
  font-family: 'Oxygen', Verdana, sans-serif;
}

.name {
  font-size: 3rem;
}

.zitat {
  font-style: italic;
}

.inline {
  display: inline;
}

.btn {
  background-color: lightskyblue;
  color: black;
  border: 1px solid black;
}

.image {
  border: 1px solid black;
  border-radius: 10px;
}
