h1 {
    margin-top: 2rem;
    text-align: center;
}

.flex {
    display: flex;
    margin: 1rem;
}

.tripbox {
    margin: 1rem;
}

img {
    width: 30rem;
    margin-bottom: 1rem;
}

.myLink {
    margin-left: 2rem;
}