<h1>Meine Reisen</h1>

<div class="flex">
    <div class="tripbox">
        <img [src]="uptipterimg"  alt="Uptipter Image">
      <h2>Uptipter</h2>
      <p>{{uptipter}}</p>
    </div>
    <div class="tripbox">
        <img [src]="oesterreichimg"  alt="Österreich Image">
      <h2>Österreich</h2>
      <p>{{oesterreich}}</p>
    </div>
    <div class="tripbox">
        <img [src]="norwegenimg"  alt="Norwegen Image">
      <h2>Norwegen</h2>
      <p>{{norwegen}}</p>
    </div>
    <div class="tripbox">
        <img [src]="usaimg"  alt="USA Image">
      <h2>USA</h2>
      <p>{{usa}}</p>
    </div>
</div>

<a routerLink="/schoeffmann" routerLinkActive="active" class="btn btn-primary myLink">Back</a>