
<app-navbar-schoeffmann></app-navbar-schoeffmann>

<div class="container mt-5 mb-5">
  <h1 class="text-center">Meine Reisen:</h1>
  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="nizzaimg" class="card-img-top p-3" alt="Projekt 1">
        <div class="card-body">
          <h5 class="card-title">Nizza</h5>
          <p class="card-text">{{nizza}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="imperiaimg" class="card-img-top p-3" alt="Projekt 2">
        <div class="card-body">
          <h5 class="card-title">Imperia</h5>
          <p class="card-text">{{imperia}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="oesterreichimg" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Österreich</h5>
          <p class="card-text">{{oesterreich}}</p>
        </div>
      </div>
    </div>




  <!--Neue Reihe-->
  <div class="row">


    <div class="col-md-4 mb-3">
      <div class="card">
        <img [src]="innsbruckimg" class="card-img-top p-3" alt="Projekt 3">
        <div class="card-body">
          <h5 class="card-title">Innsbruck</h5>
          <p class="card-text" [innerHTML]="innsbruck + ' ' + emojiCode"></p>
        </div>
      </div>
    </div>

  </div>



</div>
</div>

<app-footer></app-footer>
