<h1>Meine Reisen</h1>

<div class="flex">
    <div class="tripbox">
        <img [src]="nizzaimg"  alt="Nizza Image">
      <h2>Nizza</h2>
      <p>{{nizza}}</p>
    </div>
    <div class="tripbox">
      <img [src]="imperiaimg"  alt="Imperia Image">
    <h2>Imperia</h2>
    <p>{{imperia}}</p>
  </div>
    <div class="tripbox">
        <img [src]="oesterreichimg"  alt="Österreich Image">
      <h2>Österreich</h2>
      <p>{{oesterreich}}</p>
    </div>
    <div class="tripbox">
        <img [src]="innsbruckimg"  alt="Innsbruck Image">
      <h2>Innsbruck</h2>
      <!--<p>{{innsbruck}}</p> <div [innerHTML]="emojiCode"></div>-->
      <p [innerHTML]="innsbruck + ' ' + emojiCode"></p>
    </div>
</div>

<a routerLink="/pages-schoeffmann" routerLinkActive="active" class="btn btn-primary myLink">Back</a>
