.header-adry {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(61, 62, 64, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  gap: 2rem;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out, transform 0.2s;
}

.nav-container a:hover {
  color: #f0a500;
  transform: scale(1.1);
}
