<div class="container-fluid m-5">
  <div class="profile-container" style="width: 18rem;">
    <img src="assets-BECKER/BildK.jpeg" class="profilbild" alt="Profilbild">
    <div class="class-text">
      <h5>{{ me.firstname }} {{ me.surname }}</h5>
      <p>Geburtsdatum: {{me.birthday | date:'dd.MM.yyyy'}}</p>
      <p>Email: {{me.email}}</p>
      <p>Abteilung: {{me.department}}</p>
      <p>GitHub: {{me.github_nickname}}</p>
      <p>Wohnort: {{me.city}}</p>
      <p> {{me.message}}</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Zurück</a>
      <a routerLink="/meineReisenBecker" routerLinkActive="active" class="btn btn-primary">Meine Reisen</a>


    </div>

  </div>
</div>
