@import url('https://fonts.googleapis.com/css2?family=Aptos:wght@400&family=Bickley+Script&display=swap');

body {
  font-family: 'Aptos', sans-serif;
  font-weight: 400;
}
/* Allgemeine Header-Stile */
header {
  background-color: #1e3a5f;  /* Dunkles Pastellblau für den Header-Hintergrund */
  color: #fff;  /* Weißer Text */
  padding: 20px 0;  /* Abstand oben und unten */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sanfter Schatten für den Header */
}

/* Container für den Header-Inhalt */
.header-container {
  max-width: 100%;
  padding: 0 20px;  /* Padding für den Inhalt */
  display: flex;
  align-items: center;  /* Vertikale Zentrierung */
  justify-content: space-between;  /* rechts ausgerichtet */
}

/* Titel im Header */
.header-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  color: #fff;
}
.button-format {
  display: flex;
  gap: 15px; /* Abstand zwischen den Buttons */
}

/* Buttons */
.custom-btn {
  background-color: #1e3a5f; /* Blaue Buttons */
  color: #fff; /* Weiße Schrift */
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #1e3a5f;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bickley Script', cursive;
  font-weight: bold;
}

.profil-text p {
  font-style: italic;
}
.container-fluid {
  background-color: #b0e0e6; /* Pastellblauer Hintergrund */
  min-height: 100vh; /* Volle Höhe */
  display: flex;
  align-items: center; /* Vertikal zentrieren */
  justify-content: center; /* Horizontal zentrieren */
  padding: 2rem; /* Abstand */
  box-sizing: border-box;
}
h5{
  color: #4682b4;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 1rem; /* Weniger Abstand auf mobilen Geräten */
  }
}

.profile-container {
  background: white; /* Box-Hintergrund */
  padding: 2rem;
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Schatten für besseren Look */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 1200px; /* Begrenzte Breite */
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.profilbild {
  width: 200px;
  height:300px;
  object-fit: cover;
  border-radius: 10%; /* Runde Form */
}

.profil-text {
  flex: 1;
}

/* Responsive Anpassung */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column; /* Bild über dem Text */
    padding: 2rem;
    width: 80%;
  }
  .btn {
    margin: 1rem;
  }
}
