<header>
  <div class="container">
    <div class="name">
      {{ me.firstname }} {{ me.surname }}
    </div>
    <div class="links">
      <a routerLink="/home" routerLinkActive="active" class="router-link-text">Startseite</a>
      <a routerLink="/about_meMILLICH" routerLinkActive="active" class="router-link-text">About Me</a>
      <a routerLink="/meineReisenMillich" routerLinkActive="active" class="router-link-text">Meine Reisen</a>
      <a routerLink="/meineAusbildungMillich" routerLinkActive="active" class="router-link-text">Meine Ausbildung</a>
    </div>
  </div>
</header>
