<!DOCTYPE html>
<html lang="de">
<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/sporthistorieSpelitz">Sporthistorie</a></li>
      <li><a routerLink="/meinereisenSpelitz">Meine Reisen</a></li>
      <li><a routerLink="/aboutMeSPELITZ">Über mich</a></li>
    </ul>
  </nav>
</header>
<body>
<h3>Meine Haustiere</h3>
<img src="assets-SPELITZ/Oliver.png" alt="Bild von Oliver" class="pet-image">
<p>Oliver, meine Katze, welcher als ich noch ein Baby war von meinen Eltern aus einer Mülltonne neben unseren Haus gerettet wurde.</p>
<br><p> Oliver ist bereits 16 Jahre alt!</p>
<img src="assets-SPELITZ/Benjaming.png" alt="Bild von Benjamin" class="pet-image">
<p>Benjamin, die Katze meiner Schwester, der Bruder von Oliver, wurde ebenfalls aus dem Mistkübel gerettet.</p>
<br><p> Benjamin ist bereits 16 Jahre alt!</p>
<p> Beide Katzen wurden bereits mehrmals von Autos angefahren, haben dabei Knochenbrüche überstanden und können immernoch perfekt leben.</p>
<br>
<img src="assets-SPELITZ/Ashoka.png" alt="Bild von Ashoka" class="pet-image">
<img src="assets-SPELITZ/Ashoka2.png" alt="Bild von Ashoka" class="pet-image">
<p>Ashoka oder auch Shoki genannt ist unsere Hündin, welche in einigen Wochen 1 Jahr alt wird!</p>
<br><p> Ashoka wurde am 14.3.2024 geboren!</p>
<p> Ashoka ist sehr brav und nimmt es sehr ernst unser Haus vor Einbrechern zu schützen.</p>
<nav>
  <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Zur Startseite</a>
  <a routerLink="/aboutMeSPELITZ" routerLinkActive="active" class="btn btn-primary">About-Me</a>
</nav>
</body>
