.header {
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  height: 120px;
  align-items: center;
}

main {
  margin-top: 180px;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer-content p,
.footer-content a {
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.footer:hover {
  background-color: #444;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  color: white;
  font-size: 1.2rem;
}

.container {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .container {
    padding: 15px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

.pet-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.textSize {
  font-size: 16px;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: gray;
  }
}

.scroll-top {
  background-color: #FFD700;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
}

.scroll-top:hover {
  background-color: #FFC107;
}
