
<header>
  <div class="header-left">
    <a href="https://github.com/{{ me.github_nickname }}" target="_blank">
      <img src="assets-VIRK/github.png" alt="GitHub">
    </a>
    <a href="https://instagram.com" target="_blank">
      <img src="assets-VIRK/instagram.png" alt="Instagram">
    </a>
    <a href="https://youtube.com" target="_blank">
      <img src="assets-VIRK/youtube.png" alt="YouTube">
    </a>
    <a href="https://tiktok.com" target="_blank">
      <img src="assets-VIRK/tiktok.png" alt="TikTok">
    </a>
  </div>

  <nav class="header-right">
    <a routerLink="/home" routerLinkActive="active">Startseite</a>
    <a routerLink="/pageMyTravelsVIRK" routerLinkActive="active">Meine Reisen</a>
    <a routerLink="/pageMyGoalsVIRK" routerLinkActive="active">Meine Ziele</a>
    <a routerLink="/pageMyStadiumVisitsVIRK" routerLinkActive="active">Meine Stadienbesuche</a>
    <a routerLink="/aboutMeVIRK" routerLinkActive="active">Zurück zur Über Mich Seite</a>
  </nav>
</header>

<main>
<div class="container">
  <h1>Meine Ziele</h1>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Akademische Ziele</h2>
      <ul>
        <li>Matura halbwegs gut absolvieren</li>
        <li>EBCL-Zertifikat schaffen</li>
        <li>Diplomarbeit gut absolvieren</li>
      </ul>
    </div>
  </div>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Persönliche Ziele</h2>
      <ul>
        <li>Verbesserung meiner Produktivität</li>
        <li>Neue Sprachen lernen </li>
        <li>Besseres Zeitmanagment</li>
      </ul>
    </div>
  </div>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Karriereziele</h2>
      <ul>
        <li>Nach der Schule für ein IT-Unternehmen arbeiten</li>
        <li>B - Führerschein nur mit den Pflichtstunden schaffen </li>
        <li>Nach einiger Berufserfahrung eine Führungsposition im IT Bereich bekommen</li>
      </ul>
    </div>
  </div>



</div>
</main>

<footer class="footer">
  <p>© 2025 Gurnoor Virk</p>
</footer>


