
<header>

</header>

<main>
<div class="container">
  <h1>Meine Ziele</h1>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Akademische Ziele</h2>
      <ul>
        <li>Matura halbwegs gut absolvieren</li>
        <li>EBCL-Zertifikat schaffen</li>
        <li>Diplomarbeit gut absolvieren</li>
      </ul>
    </div>
  </div>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Persönliche Ziele</h2>
      <ul>
        <li>Verbesserung meiner Produktivität</li>
        <li>Neue Sprachen lernen </li>
        <li>Besseres Zeitmanagment</li>
      </ul>
    </div>
  </div>

  <div class="ziel-box">
    <div class="ziel-info">
      <h2>Karriereziele</h2>
      <ul>
        <li>Nach der Schule für ein IT-Unternehmen arbeiten</li>
        <li>B - Führerschein nur mit den Pflichtstunden schaffen </li>
        <li>Nach einiger Berufserfahrung eine Führungsposition im IT Bereich bekommen</li>
      </ul>
    </div>
  </div>



  <div class="button">

    <a routerLink="/aboutMeVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Zurück zur Über Mich Seite</a>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary custom-btn">Zurück zur Startseite</a>
    <a routerLink="/pageMyStadiumVisitsVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Stadienbesuche</a>
    <a routerLink="/pageMyTravelsVIRK" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Reisen</a>
  </div>
</div>
</main>

<footer>

</footer>


