
<header class="header">
        <a href="https://www.instagram.com/oliver.597_">
          <img src= "assets-SENJIC/insta.png" alt="Instagram" class="header-icon">
       </a>
  <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">
    <img src= "assets-SENJIC/youtube.png" alt="youtube" class="header-icon" >
  </a>

</header>

<main>
<div class="container">
  <div class="head">
    <h1>SENJIĆ Oliver</h1>
    <h6>Willkommen zu meiner Webseite über mich!</h6>
    <img [src] = me.urlImage alt="Portrait">
  </div>

  <div class="info">
    <p><strong>Name:</strong> {{me.surname}} {{me.firstname}}</p>
    <p><strong>Geburtsdatum:</strong> {{ me.birthday | date:'dd MMMM yyyy'  }}</p>
    <p><strong>Wohnort:</strong> {{me.city}}</p>
    <p><strong>E-Mail:</strong> <a href="mailto:210278@studierende.htl-donaustadt.at">{{me.email}}</a></p>
    <p><strong>Github: </strong> <a href="https://github.com/oliver5977">{{me.github_nickname}}</a></p>
    <p><strong>Abteilung:</strong> {{me.department}}</p>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary; custom-btn">Zurück</a>
    <a routerLink="/myTravelsSENJIC" routerLinkActive="active" class="btn btn-primary; custom-btn">Meine Reisen</a>
    <a routerLink="/MyFutureSENJIC" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Zukunft</a>
    <a routerLink="/MyJerseysSENJIC" routerLinkActive="active" class="btn btn-primary custom-btn">Meine Trikots</a>

  </div>
  <div class="Zitat">
    <p>{{me.message}}</p>
  </div>

</div>
</main>
<footer class="footer">
  <p style="text-align: center; color: white"><strong>© by Oliver SENJIĆ</strong></p>
</footer>
