<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Über mich</title>
</head>
<body>

<header>
  <h1>Über mich</h1>
</header>

<main>
  <section>
    <h2>Persönliche Informationen</h2>
    <img src="dein-bild.jpg" alt="Dein Bild" width="200">
    <p><strong>Vorname:</strong> Sebastian</p>
    <p><strong>Nachname:</strong> Geihseder</p>
    <p><strong>Geburtstag:</strong> 04.10.2006</p>
    <p><strong>Geburtsort:</strong> Wien</p>
    <p><strong>Alter:</strong> 18 Jahre</p>
<!--    <p><strong>Email:</strong> <a href="mailto:210031@studierende.htl-donaustadt.at">210031@studierende.htl-donaustadt.at</a></p>-->
    <p><strong>Github:</strong> <a href="https://github.com/sebastian447" target="_blank">sebastian447</a></p>
  </section>
</main>
<footer>

</footer>
</body>
</html>
