<div class="container mt-5">
  <h2 class="text-center mb-4">Reiseorte</h2>
  <div class="row">
    <!-- Land 1 -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <img src="assets/assets-KLARIC/bosnia.jpg" class="card-img-top" alt="Bosnien">
        <div class="card-body">
          <h5 class="card-title">Bosnien</h5>
          <p class="card-text">Das Land der Herzen.</p>
        </div>
      </div>
    </div>

    <!-- Land 2 -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <img src="assets/images/Kroatien.jpg" class="card-img-top" alt="Kroatien">
        <div class="card-body">
          <h5 class="card-title">Kroatien</h5>
          <p class="card-text">bla bla bla.</p>
        </div>
      </div>
    </div>

    <!-- Land 3 -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <img src="assets/images/England.jpg" class="card-img-top" alt="England">
        <div class="card-body">
          <h5 class="card-title">england</h5>
          <p class="card-text">bla bla bla.</p>
        </div>
      </div>
    </div>

    <!-- Land 4 -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <img src="assets/images/Spanien.jpg" class="card-img-top" alt="spanien">
        <div class="card-body">
          <h5 class="card-title">Spanien</h5>
          <p class="card-text">bla bla bla.</p>
        </div>
      </div>
    </div>

    <!-- Land 5 -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <img src="assets/images/Russia.jpg" class="card-img-top" alt="Russland">
        <div class="card-body">
          <h5 class="card-title">Russland</h5>
          <p class="card-text">bla bla.</p>
        </div>
      </div>
    </div>
  </div>
</div>
