
<main class="main container m-5">
  <div class="content ">
    <h1>Das ist die Startseite der {{title}}</h1>
  </div>
  <a routerLink="/page_demo" routerLinkActive="active">Link zur page demo</a><br>
  <a routerLink="/about_meMILLICH" routerLinkActive="active">Link zu Millich: Über Mich</a><br>
  <a routerLink="/aboutMeKlaric" routerLinkActive="active">Link zu Klaric: Über Mich</a><br>
  <a routerLink="/about_me_krapf" routerLinkActive="active">Link zu Krapf Über Mich</a><br>
  <a routerLink="/about_me_aljarrah" routerLinkActive="active">Link zu Al Jarrah Über Mich</a>
  <br>
  <a routerLink="/aboutMeGEIHSEDER" routerLinkActive="active">Link zu Geihseder: Über Mich</a>
  <br>
  <a routerLink="/aboutMeYOHANNA" routerLinkActive="active">Link zu Yohanna: Über Mich</a>
  <br>
  <a routerLink="/aboutMeVIRK" routerLinkActive="active">Link zu VIRK: Über Mich</a>
  <br>
  <a routerLink="/aboutMeSENJIC" routerLinkActive="active">Link zu Senjic: Über Mich</a>
  <br>
  <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active">Link zu Matuschka: Über Mich</a>
  <br>
  <a routerLink="/aboutMeSINGH" routerLinkActive="active">Link zu Singh: Über Mich</a>
  <br>
  <a routerLink="/aboutMeNAZARI" routerLinkActive="active">Link zu Nazari: Über Mich</a>


</main>



