<header class="header">
  <div class="header-container">
    <h1 class="header-title">Karina Becker</h1>

    <div class="button-format">
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary; custom-btn">Zurück</a>
      <a routerLink="/aboutMeBECKER" routerLinkActive="active" class="btn btn-primary; custom-btn">Über mich</a>
      <a routerLink="/meineReisenBecker" routerLinkActive="active" class="btn btn-primary; custom-btn">Reisen</a>
      <a routerLink="/meineHobbysBecker" routerLinkActive="active" class="btn btn-primary custom-btn">Hobbys</a>

    </div>
  </div>
</header>
<div class="container">
  <h2>Meine Hobbys</h2>
  <div *ngFor="let hobby of hobbies">
    <div class="hobby-info">
      <h3>{{ hobby.name }}</h3>
      <p>{{ hobby.description }}</p>
      <p><strong>Wie ich dazu gekommen bin:</strong> {{ hobby.story }}</p>
      <div class="hobby-images">
        <img *ngFor="let image of hobby.images" [src]="image" alt="{{ hobby.name }}" class="hobby-image">
      </div>
    </div>
  </div>
</div>
