@import "../MATUSCHKA_Variables";


.body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: $card-background;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
  border: 2px solid #000000;
}

.gallery img:hover {
  border-color: #333;
  transform: scale(1.05);
  transition: transform 0.3s, border-color 0.3s;
}

.caption {
  text-align: center;
  color: #000000;
  width: 400px;
}

.caption strong {
  display: block;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.caption em {
  display: block;
  font-size: 0.9em;
  color: #777;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    width: 90%;
  }
}
.custom-btn {
  background: none;
  color: $secondary;
  border: none;
  font-size: 20px;
}
.custom-btn2{
  background-color: $secondary ;
  color: black;
  border: none;
  margin-right: 10px;
}

.box {
  background-color: #dff0d8;

}
.header {
  font-family: 'Calibri', Times, serif;
  background-color: $primary;
  height: 80px;
  width: 100%;
  font-size: 25px;
}
.footer {
  font-family: 'Calibri', Times, serif;
  background-color: $primary;
  height: 80px;
  width: 100%;
  font-size: 25px;
}
.button-header{
  font-family: 'Calibri', Times, serif;
  text-align: center;
}
.header-logo {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
