<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reisen</title>
</head>
<body>
<div class="container">
  <h1 style="text-align: center;">Meine Reisen</h1>
  <div class="gallery">
    <div class="country-section österreich">
      <img src="assets-MATUSCHKA/Österreich2.jpg" alt="Österreich">
      <div class="caption">
        <strong>Österreich</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Ägypten.jpg" alt="Ägypten">
      <div class="caption">
        <strong>Ägypten</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Ungarn.jpg" alt="Ungarn">
      <div class="caption">
        <strong>Ungarn</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Türkei.jpg" alt="Türkei">
      <div class="caption">
        <strong>Türkei</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Tunesien.jpg" alt="Tunesien">
      <div class="caption">
        <strong>Tunesien</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Tschechien.jpg" alt="Tschechien">
      <div class="caption">
        <strong>Tschechien</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Thailand.jpg" alt="Thailand">
      <div class="caption">
        <strong>Thailand</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Spanien.jpg" alt="Spanien">
      <div class="caption">
        <strong>Spanien</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Slowakei.jpg" alt="Slowakei">
      <div class="caption">
        <strong>Slowakei</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/San Marino.jpg" alt="San Marino">
      <div class="caption">
        <strong>San Marino</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Polen.jpg" alt="Polen">
      <div class="caption">
        <strong>Polen</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Kroatien.jpg" alt="Kroatien">
      <div class="caption">
        <strong>Kroatien</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Italien.jpg" alt="Italien">
      <div class="caption">
        <strong>Italien</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/England.jpg" alt="England">
      <div class="caption">
        <strong>England</strong>
      </div>
    </div>
    <div>
      <img src="assets-MATUSCHKA/Deutschland.jpg" alt="Deutschland">
      <div class="caption">
        <strong>Deutschland</strong>
      </div>
    </div>
  </div>
  <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active" class="btn btn-primary custom-btn">About Me</a>
</div>
</body>
</html>
