<header class="header">
  <a href="https://www.instagram.com/unionkorneuburg">
    <img src= "assets-MATUSCHKA/Instagram.png" alt="Instagram" class="header-logo">
  </a>
  <a href="mailto:210062@studierende.htl-donaustadt.at">
    <img src= "assets-MATUSCHKA/email.png" alt="Email" class="header-logo" >
  </a>
  <div class ="button-header">
    <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active" class="btn btn-primary custom-btn"  style="margin-right: 10px">About Me</a>
    <a routerLink="/stadienbesucheMatuschka" routerLinkActive="active" class="btn btn-primary custom-btn">Stadionbesuche</a>
  </div>
</header>
<div class="body">
<div class="container">
  <h1 style="text-align: center;">Meine Reisen</h1>
  <div class="gallery">
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Österreich2.jpg" alt="Österreich">
        <strong>Österreich</strong>
        <span>Ein Land in den Alpen, bekannt für seine historische Architektur, Musik und beeindruckende Natur. Städte wie Wien und Salzburg sind kulturelle Zentren.</span><br>
        <em>Ort: Wien, Graz, Linz, Seefeld, Bregenz, Klagenfurt, Salzburg, St. Pölten, Lienz</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Thailand.jpg" alt="Thailand">
        <strong>Thailand</strong>
        <span>Ein tropisches Land mit paradiesischen Stränden, lebendigen Städten und beeindruckenden Tempeln. Bangkok und Koh Samui sind Highlights.</span><br>
        <em>Ort: Koh Samui</em>
        <a routerLink="/thailandreisenMatuschka" routerLinkActive="active" class="btn btn-primary custom-btn2">Thailand</a>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Ägypten.jpg" alt="Ägypten">
        <strong>Ägypten</strong>
        <span>Ein Land mit einer reichen Geschichte, berühmt für antike Monumente wie die Pyramiden und das Tal der Könige. Es bietet auch traumhafte Küstenregionen am Roten Meer.</span><br>
        <em>Ort: Marsa Alam, Hurghada</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Ungarn.jpg" alt="Ungarn">
        <strong>Ungarn</strong>
        <span>Bekannt für die Hauptstadt Budapest, die für ihre Architektur, Thermalbäder und die Donau berühmt ist. Das Land hat eine interessante Mischung aus Kultur und Natur.</span><br>
        <em>Ort: Balatonfüred, Kaposvar</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Türkei.jpg" alt="Türkei">
        <strong>Türkei</strong>
        <span>Ein Land, das europäische und asiatische Einflüsse vereint. Die Küstenstädte und die historische Stadt Istanbul sind besonders beliebt.</span><br>
        <em>Ort: Belek</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Tunesien.jpg" alt="Tunesien">
        <strong>Tunesien</strong>
        <span>Ein nordafrikanisches Land mit einer Mischung aus Wüste und Küstenregionen. Historische Ruinen und Strände machen es zu einem interessanten Reiseziel.</span><br>
        <em>Ort: Monastir</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Tschechien.jpg" alt="Tschechien">
        <strong>Tschechien</strong>
        <span>Ein Land mit einer reichen Kultur und Geschichte. Prag ist bekannt für seine gut erhaltene mittelalterliche Architektur und den berühmten Prager Schloss.</span><br>
        <em>Ort: Prag</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Spanien.jpg" alt="Spanien">
        <strong>Spanien</strong>
        <span>Berühmt für seine Strände, seine Kultur, beeindruckende Städte wie Madrid und Barcelona, sowie historische Stätten.</span><br>
        <em>Ort: Malaga, Mallorca</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Slowakei.jpg" alt="Slowakei">
        <strong>Slowakei</strong>
        <span>Bekannt für ihre Burgen, wie die Bratislava Burg, und die Naturschönheiten der Hohen Tatra. Bratislava, die Hauptstadt, beeindruckt mit einer charmanten Altstadt.</span><br>
        <em>Ort: Bratislava</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/San Marino.jpg" alt="San Marino">
        <strong>San Marino</strong>
        <span>Ein kleines Land, das auf einem Berg liegt und eine mittelalterliche Atmosphäre mit einer reichen Geschichte bietet.</span><br>
        <em>Ort: San Marino</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Polen.jpg" alt="Polen">
        <strong>Polen</strong>
        <span>Mit Krakau und Warschau hat es sowohl historische Städte als auch wunderschöne Natur, darunter den Bieszczady Nationalpark.</span><br>
        <em>Ort: Krakau</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Kroatien.jpg" alt="Kroatien">
        <strong>Kroatien</strong>
        <span>Bekannt für seine wunderschöne Adriaküste und historische Städte wie Dubrovnik. Es hat auch beeindruckende Naturparks.</span><br>
        <em>Ort: Varazdin, Pula, Porec, Medulin, Rovinj, Rab, Vis, Pag</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Italien.jpg" alt="Italien">
        <strong>Italien</strong>
        <span>Berühmt für Kunst, Geschichte, kulinarische Genüsse und atemberaubende Städte wie Rom, Florenz und die Küste von Amalfi.</span><br>
        <em>Ort: Florenz, Rimini, Riccione</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/England.jpg" alt="England">
        <strong>England</strong>
        <span>Ein Land voller Geschichte, das für seine majestätischen Städte wie London, Oxford und seine grünen Landschaften bekannt ist.</span><br>
        <em>Ort: London</em>
      </div>
    </div>
    <div class="gallery img box">
      <div class="caption">
        <img src="assets-MATUSCHKA/Deutschland.jpg" alt="Deutschland">
        <strong>Deutschland</strong>
        <span>Ein Land mit vielfältigen Regionen, von der modernen Hauptstadt Berlin bis hin zu malerischen Dörfern und historischen Städten wie München.</span><br>
        <em>Ort: Erding, München, Düsseldorf, Stuttgart</em>
      </div>
    </div>
  </div><br>
</div>
</div>
<footer class="footer">
  Footer
</footer>
