<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Reisen</title>
</head>
<body>
<div class="container">
  <h1 style="text-align: center;">Meine Reisen</h1>
  <div class="gallery">
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Österreich2.jpg" alt="Österreich">
        <strong>Österreich</strong>
        <span></span>
        <em>Ort: Wien, Graz, Linz, Seefeld, Bregenz, Klagenfurt, Salzburg, St. Pölten, Lienz</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Ägypten.jpg" alt="Ägypten">
        <strong>Ägypten</strong>
        <span></span>
        <em>Ort: Am Meer </em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Ungarn.jpg" alt="Ungarn">
        <strong>Ungarn</strong>
        <span></span>
        <em>Ort: Balatonfüred</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Türkei.jpg" alt="Türkei">
        <strong>Türkei</strong>
        <span></span>
        <em>Ort: Am Meer</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Tunesien.jpg" alt="Tunesien">
        <strong>Tunesien</strong>
        <span></span>
        <em>Ort: Am Meer</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Tschechien.jpg" alt="Tschechien">
        <strong>Tschechien</strong>
        <span></span>
        <em>Ort: Prag</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Thailand.jpg" alt="Thailand">
        <strong>Thailand</strong>
        <span></span>
        <em>Ort: Koh Samui</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Spanien.jpg" alt="Spanien">
        <strong>Spanien</strong>
        <span></span>
        <em>Ort: Malaga, Mallorca</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Slowakei.jpg" alt="Slowakei">
        <strong>Slowakei</strong>
        <span></span>
        <em>Ort: Bratislava</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/San Marino.jpg" alt="San Marino">
        <strong>San Marino</strong>
        <span></span>
        <em>Ort: San Marino</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Polen.jpg" alt="Polen">
        <strong>Polen</strong>
        <span></span>
        <em>Ort: Krakau</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Kroatien.jpg" alt="Kroatien">
        <strong>Kroatien</strong>
        <span></span>
        <em>Ort: Varazdin, am Meer</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Italien.jpg" alt="Italien">
        <strong>Italien</strong>
        <span></span>
        <em>Ort: Florenz, Rimini</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/England.jpg" alt="England">
        <strong>England</strong>
        <span></span>
        <em>Ort: London</em>
      </div>
    </div>
    <div class="gallery img österreich">
      <div class="caption">
        <img src="assets-MATUSCHKA/Deutschland.jpg" alt="Deutschland">
        <strong>Deutschland</strong>
        <span></span>
        <em>Ort: Erding, München, Düsseldorf, Stuttgart</em>
      </div>
    </div>
  </div>
  <a routerLink="/aboutMeMATUSCHKA" routerLinkActive="active" class="btn btn-primary custom-btn">About Me</a>
</div>
</body>
</html>
