<app-header-millich></app-header-millich>

<main>
  <div class="container centered textSize">
    <h3>{{ me.firstname }} {{ me.surname.toLocaleUpperCase() }}</h3>
    <p>{{ me.birthday | date:'dd.MM.yyyy' }}</p>
    <img src="{{me.urlImage}}">
    <p>
      <b>Abteilung:</b> {{ me.department }}<br>
      <b>Email-Adresse: </b> <a href="mailto:210027@studiernde.htl-donaustadt.at">{{ me.email }}</a><br>
      <b>Github Account: </b> <a href="https://github.com/askaloor">{{ me.github_nickname }}</a><br>
      <b>Wohnort: </b> {{ me.zip_code }} {{ me.city }}<br>
      <i>{{ me.message }}</i><br>
    </p>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Take me home</a>&nbsp;
    <a routerLink="/meineReisenMillich" routerLinkActive="active" class="btn btn-primary">Meine Reisen</a>&nbsp;
    <a routerLink="/meineAusbildungMillich" routerLinkActive="active" class="btn btn-primary">Meine Ausbildung</a>
  </div>
</main>
