<div class="container mt-5">
  <div class="card border-primary rounded-3 shadow-lg" style="max-width: 2000px; margin: 2rem;">
    <div class="row g-0">
      <div class="col-md-4 p-3">
        <img src="{{ me.urlImage }}" class="img-fluid rounded-start border-primary" alt="{{ me.firstname }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ me.firstname }} {{ me.surname }}</h5>
          <p class="card-text">
            <strong>Birthday:</strong> {{ me.birthday }}<br>
            <strong>Department:</strong> {{ me.department }}<br>
            <strong>Email: </strong> <a href="mailto:{{ me.email }}" class="text-decoration-none">{{ me.email }}</a><br>
            <strong>GitHub: </strong> <a href="https://github.com/{{ me.github_nickname }}" target="_blank" class="text-decoration-none text-primary">&#64;{{ me.github_nickname }}</a><br>
            <strong>City:</strong> {{ me.zip_code }} {{ me.city }}
          </p>
          <p class="card-text"><em>{{ me.message }}</em></p>
          <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

